#Agee {
  width: 22%;
  position: absolute;
  left: 28%;
  bottom: 3%; }

#handR {
  transform-origin: center left;
  animation: hands linear 2s infinite alternate; }

@keyframes hands {
  0% {
    transform: rotate(0deg) translateX(0%) translateY(0%); }
  100% {
    transform: rotate(-5deg) translateX(1%) translateY(2%); } }

.deleteFromPage {
  transition: 1s;
  transform-origin: left top;
  animation: delete linear 1s forwards; }

.wrap1 {
  width: 100%;
  height: 100vh;
  background-image: url("../images/activity/act_bg_03.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: #abe9ff;
  transition: 2s; }

.wrap2 {
  width: 100%;
  background-image: url(../images/activity/activityGrass6.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: -2px; }
.messagebox  .commentItem{
    display: flex;
    align-items: center;
    padding: 5px 0;
}
.messagebox .commentName{    
    margin-bottom: 10px;
    color: brown;
}
.messagebox .commentText{
    font-size: 17px;
    color: #555;
    padding-left: 18px;
}
.act_section01 {
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  overflow: hidden; }
  .act_section01 h1 {
    width: 30%;
    font-size: 2rem;
    letter-spacing: .15rem;
    color: #f05c79;
    line-height: 2.2rem;
    position: relative;
    z-index: 2;
    top: 20vh;
    left: 30vh;
    text-align: center; }
    .act_section01 h1 span {
      font-size: 1.7rem; }
  .act_section01 .act_mainbox {
    width: 38%;
    height: 0;
    padding-bottom: 32%;
    background-image: url("../images/activity/act_board.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(-1.5deg);
    position: absolute;
    right: 10%;
    bottom: 15%;
    z-index: 2;
    overflow: hidden; }
    .act_section01 .act_mainbox .imgBox {
      width: 90%;
      height: 50%;
      margin: 5px 5%; }
      .act_section01 .act_mainbox .imgBox img {
        width: 87%;
        margin: 0 5%;
        position: relative;
        z-index: 3;
        cursor: pointer; }
    .act_section01 .act_mainbox .btnbox {
      width: 100%;
      transform: rotate(2deg);
      position: relative;
      top: 120px;
      left: 10px;
      display: flex;
      justify-content: space-between; }
      .act_section01 .act_mainbox .btnbox #btn_actL, .act_section01 .act_mainbox .btnbox #btn_actR {
        display: inline-block;
        width: 12%;
        height: 0;
        padding-bottom: 12%;
        cursor: pointer; }
      .act_section01 .act_mainbox .btnbox #btn_actL {
        background-image: url("../images/activity/act_boardBtnL.svg");
        background-repeat: no-repeat; }
      .act_section01 .act_mainbox .btnbox #btn_actR {
        background-image: url("../images/activity/act_boardBtnR.svg");
        background-repeat: no-repeat; }
  .act_section01 .act_bg_moving01 {
    width: 100%;
    height: 45vh;
    position: absolute;
    top: 10vh;
    left: 0;
    background-image: url("../images/activity/cloud01.svg"), url("../images/activity/cloud01.svg"), url("../images/activity/cloud01.svg"), url("../images/activity/cloud01.svg"), url("../images/activity/cloud01.svg");
    background-size: 70px;
    background-position: 50% 10%, 60% 47%, 10% 57%, 25% 11%, 80% 22%;
    background-repeat: no-repeat;
    animation: cloudMoving 50s infinite linear forwards; }
  .act_section01 .act_bus {
    width: 25%;
    position: absolute;
    left: 10%;
    bottom: 10%; }
  .act_section01 #LightBoxAct, .act_section01 #LightBoxActInner, .act_section01 #LightBoxActClose {
    position: relative;
    z-index: -1; }
  .act_section01 #LightBoxActInner {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

.lightbox_act {
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  display: none;
  display: flex;
  justify-content: center;
  align-items: center; }
  .lightbox_act .lightbox_act_info {
    width: 62%;
    max-width: 1200px;
    height: 65%;
    padding: 20px 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #f05c79;
    border-radius: 15px;
    background-color: #f0a0c8;
    background-image: url("../images/activity/spanBg01.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    position: relative; }
    .lightbox_act .lightbox_act_info img {
      width: 50%;
      transform: rotate(-1deg); }
    .lightbox_act .lightbox_act_info h2 {
      width: 70%;
      height: 30px;
      font-size: 1rem;
      color: #f05c79; }
    .lightbox_act .lightbox_act_info p {
      width: 35%;
      color: #f05c79;
      font-size: 1.6rem;
      max-width: 600px;
      line-height: 2rem; }
    .lightbox_act .lightbox_act_info .spanbox {
      width: 50%;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .lightbox_act .lightbox_act_info .spanbox span {
        display: inline-block;
        color: #f05c79;
        font-size: 1rem;
        line-height: 1rem;
        padding: 10px 15px; }

@keyframes busMoving {
  0% {
    left: 5%;
    bottom: 5%;
    z-index: 4; }
  30% {
    left: 30%;
    bottom: 15%;
    z-index: 4; }
  60% {
    left: 60%;
    bottom: 10%;
    z-index: 4; }
  90% {
    left: 90%;
    bottom: 5%;
    z-index: 4; }
  100% {
    left: 90%;
    bottom: 5%;
    z-index: 4; } }

@keyframes cloudMoving {
  0% {
    background-position: 50% 10%, 60% 47%, 10% 57%, 25% 11%, 80% 22%; }
  100% {
    background-position: 70% 10%, 90% 47%, 20% 57%, 65% 11%, 110% 22%; } }

.act_section02 {
  width: 100%;
  max-width: 1200px;
  padding-top: 50px;
  margin-top: -2px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column; }

.act_tabBar {
  width: 80%;
  margin: 10px auto;
  position: relative; }
  .act_tabBar span {
    display: inline-block;
    padding: 2px 10px;
    font-size: .9rem;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    width: 80px;
    height: 25px;
    line-height: 25px;
    text-align: center; }
  .act_tabBar span:hover {
    color: #fff; }
  .act_tabBar #tab_allAct {
    padding: 7px 12px;
    color: #fff;
    background-image: url("../images/activity/spanBg03.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center; }
  .act_tabBar #tab_myAct {
    padding: 7px 12px;
    color: #fff;
    background-image: url("../images/activity/spanBg04.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center; }
  .act_tabBar #btn_holdAct {
    display: block;
    position: absolute;
    right: 0;
    z-index: 4;
    width: 75px;
    height: 30px; }

.lightbox_holdact {
  width: 100%;
  height: 100%;
  margin: auto;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  display: none;
  display: flex;
  justify-content: center;
  align-items: center; }
  .lightbox_holdact .lightbox_holdact_info {
    width: 62%;
    max-width: 1200px;
    height: 70%;
    padding: 20px 20px;
    color: #f05c79;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #f05c79;
    border-radius: 15px;
    background-color: #f0a0c8;
    background-image: url("../images/activity/spanBg01.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: auto;
    position: fixed;
    left: 0;
    top: 50px;
    bottom: 0;
    right: 0;
    position: relative;
    bottom: 21%; }
    .lightbox_holdact .lightbox_holdact_info h2 {
      width: 100%; }
    .lightbox_holdact .lightbox_holdact_info form {
      width: 90%;
      height: 90%;
      margin: 10px 5%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-align: center; }
      .lightbox_holdact .lightbox_holdact_info form label {
        width: 90%;
        text-align: left;
        vertical-align: top;
        display: flex;
        flex-direction: column; }
        .lightbox_holdact .lightbox_holdact_info form label input {
          width: 25%;
          height: 25px;
          margin-top: 10px;
          text-align: left;
          font-size: .7rem;
          text-align: center; }
    .lightbox_holdact .lightbox_holdact_info #input_actInfo {
      height: 50px;
      position: relative; }
    .lightbox_holdact .lightbox_holdact_info .act_holdActFileBox {
      width: 44%;
      height: 0;
      padding-bottom: 27%;
      border-radius: 15px;
      line-height: 200px;
      border: 1px dashed #fff;
      background-color: #ccc;
      position: absolute;
      top: 100px;
      right: 10px;
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat; }
      .lightbox_holdact .lightbox_holdact_info .act_holdActFileBox #act_holdActFileBox {
        max-height: 300px;
        padding: 10px 10px; }

.partA {
  display: block; }

.partB {
  display: none; }

.partA #posH2 {
  letter-spacing: .15rem;
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
  padding: 30px 0px;
  color: #f05c79;
  background-image: url("../images/activity/h2Bg01.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center; }

.act_officialBanner {
  width: 80%;
  height: 0;
  padding-top: 50px;
  padding-bottom: 30%;
  margin: 10px auto;
  color: rgba(255, 255, 255, 0.5);
  display: flex; }
  .act_officialBanner:hover {
    color: #fff; }
  .act_officialBanner img {
    width: 65%;
    height: 300px;
    padding-right: 15px;
    display: block;
    background-image: url("../images/activity/bgbox_act2.png");
    background-size: 100% 102%;
    background-repeat: no-repeat; }
    .act_officialBanner img:hover {
      animation: shake 2s linear; }
  .act_officialBanner .act_info {
    width: 50%;
    text-align: center; }
    .act_officialBanner .act_info h2 {
      width: 100%;
      padding: 10px 20px;
      text-align: left;
      color: #fff; }
    .act_officialBanner .act_info span {
      display: inline-block;
      width: 30%;
      padding: 10px 20px;
      text-align: left;
      font-size: .8rem; }
    .act_officialBanner .act_info p {
      text-align: left;
      padding: 5px 0 5px 20px;
      font-size: .8rem;
      line-height: 1.4rem;
      width: 90%;
      margin: 2px 5%; }
    .act_officialBanner .act_info button {
      display: inline-block;
      margin: 20px 20px;
      position: relative;
      bottom: 30px;
      width: 75px;
      height: 30px; }

.act_memberHold {
  width: 90%;
  height: 0;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 100%;
  margin: 15px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-around; }
  .act_memberHold .act_memberHold_box {
    width: 30%;
    height: 0;
    padding: 10px 10px;
    padding-bottom: 33%;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    border-radius: 15px;
    background-color: rgba(249, 228, 238, 0.8); }
    .act_memberHold .act_memberHold_box .Hold_box_img {
      width: 95%;
      padding: 95px 10px;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      border-radius: 15px; }
    .act_memberHold .act_memberHold_box .act_memberHold_join {
      width: 100px;
      height: 50px;
      position: absolute;
      right: 0%;
      bottom: 0;
      opacity: 0; }
      .act_memberHold .act_memberHold_box .act_memberHold_join button {
        width: 75px;
        height: 30px;
        position: relative;
        right: 120%;
        bottom: -15%; }
    .act_memberHold .act_memberHold_box h3 {
      width: 60%;
      margin: 5px auto;
      font-size: 1rem;
      padding: 7px 0;
      border-bottom: 1px solid #fff;
      color: #f05c79; }
    .act_memberHold .act_memberHold_box .spanbox {
      width: 80%;
      margin: 5px auto;
      display: flex;
      flex-direction: column; }
      .act_memberHold .act_memberHold_box .spanbox span {
        width: 100%;
        height: 30px;
        padding: 5px 10px;
        display: inline-block;
        font-size: .7rem;
        text-align: left;
        color: rgba(102, 102, 102, 0.7); }
    .act_memberHold .act_memberHold_box p {
      width: 90%;
      font-size: .8rem;
      padding: 5px 10px;
      text-align: right;
      cursor: pointer; }
  .act_memberHold .act_tab_pages {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 15px; }
    .act_memberHold .act_tab_pages span a {
      width: 20px;
      padding: 2px 5px;
      font-size: 1rem;
      letter-spacing: 1.1rem;
      color: #f05c79;
      cursor: pointer; }
      .act_memberHold .act_tab_pages span a:hover {
        color: #fff; }

.partB {
  width: 100%;
  padding-bottom: 40%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px auto;
  flex-direction: column;
  align-items: flex-start; }
  .partB h2 {
    letter-spacing: .15rem;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    padding: 30px 0px;
    color: #f05c79;
    background-image: url("../images/activity/h2Bg01.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center; }
  .partB .partB_top, .partB .partB_down {
    width: 100%; }
    .partB .partB_top .partB_top_content, .partB .partB_top .partB_down_content, .partB .partB_down .partB_top_content, .partB .partB_down .partB_down_content {
      width: 80%;
      height: 180px;
      background-color: rgba(255, 255, 255, 0.7);
      background-color: rgba(249, 228, 238, 0.8);
      border-radius: 15px;
      margin: 15px auto;
      padding: 10px 15px;
      display: flex;
      justify-content: space-between; }
      .partB .partB_top .partB_top_content .contentImg, .partB .partB_top .partB_down_content .contentImg, .partB .partB_down .partB_top_content .contentImg, .partB .partB_down .partB_down_content .contentImg {
        width: 35%;
        display: block;
        border-radius: 15px;
        padding: 10px 15px;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat; }
      .partB .partB_top .partB_top_content .spanbox, .partB .partB_top .partB_down_content .spanbox, .partB .partB_down .partB_top_content .spanbox, .partB .partB_down .partB_down_content .spanbox {
        width: 55%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center; }
        .partB .partB_top .partB_top_content .spanbox span, .partB .partB_top .partB_down_content .spanbox span, .partB .partB_down .partB_top_content .spanbox span, .partB .partB_down .partB_down_content .spanbox span {
          width: 40%;
          margin: 10px;
          padding: 5px 10px;
          color: #f05c79;
          font-size: .9rem; }
      .partB .partB_top .partB_top_content .buttonbox, .partB .partB_top .partB_down_content .buttonbox, .partB .partB_down .partB_top_content .buttonbox, .partB .partB_down .partB_down_content .buttonbox {
        width: 30%;
        display: flex;
        position: relative;
        top: 45%; }
        .partB .partB_top .partB_top_content .buttonbox button, .partB .partB_top .partB_down_content .buttonbox button, .partB .partB_down .partB_top_content .buttonbox button, .partB .partB_down .partB_down_content .buttonbox button {
          margin-left: 10px;
          width: 75px;
          height: 30px; }

.lightbox_actsCheckout_outside {
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  display: none;
  display: flex;
  justify-content: center;
  align-items: center; }
  .lightbox_actsCheckout_outside .lightbox_actsCheckout {
    width: 62%;
    max-width: 1200px;
    height: 75%;
    margin: 5px auto;
    padding: 20px 20px;
    color: #f05c79;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #f05c79;
    border-radius: 15px;
    background-color: #f0a0c8;
    background-image: url("../images/activity/spanBg01.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: auto;
    position: fixed;
    left: 0;
    top: 100px;
    bottom: 0;
    right: 0; }
    .lightbox_actsCheckout_outside .lightbox_actsCheckout h2 {
      color: rgba(102, 102, 102, 0.7);
      font-size: .8rem; }
    .lightbox_actsCheckout_outside .lightbox_actsCheckout .acts_lightbox_top {
      height: 330px;
      display: flex;
      justify-content: space-between; }
      .lightbox_actsCheckout_outside .lightbox_actsCheckout .acts_lightbox_top .acts_lightbox_topImg {
        width: 35%;
        height: 240px;
        position: relative;
        left: 40px;
        padding: 10px 10px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        border-radius: 15px; }
      .lightbox_actsCheckout_outside .lightbox_actsCheckout .acts_lightbox_top .acts_lightbox_top_right {
        width: 55%;
        padding-top: 46px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        position: relative; }
      .lightbox_actsCheckout_outside .lightbox_actsCheckout .acts_lightbox_top h3 {
        position: absolute;
        left: 34%;
        top: 10px;
        padding: 5px 0;
        font-size: 1.3rem; }
      .lightbox_actsCheckout_outside .lightbox_actsCheckout .acts_lightbox_top span {
        width: 50%;
        height: 30%;
        font-size: .9rem; }
  .lightbox_actsCheckout_outside .acts_lightbox_down {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative; }
    .lightbox_actsCheckout_outside .acts_lightbox_down #btn_ActJoinToDB {
      position: absolute;
      right: 135px;
      bottom: 150%;
      width: 75px;
      height: 30px; }
    .lightbox_actsCheckout_outside .acts_lightbox_down .messagebox {
      width: 80%;
      height: 155px;
      text-align: left;
      padding: 10px 20px;
      border-radius: 15px;
      margin: 0 auto;
      overflow-y: scroll;
      position: relative;
      bottom: 35px; }
      /* .lightbox_actsCheckout_outside .acts_lightbox_down .messagebox span {
        display: block;
        font-size: .9rem;
        padding: 5px 0px;
        text-align: left;
        border-bottom: 1px dotted #f05c79; }
      .lightbox_actsCheckout_outside .acts_lightbox_down .messagebox .dddd {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start; }
        .lightbox_actsCheckout_outside .acts_lightbox_down .messagebox .dddd .headBoxOut {
          position: absolute;
          left: 0; }
        .lightbox_actsCheckout_outside .acts_lightbox_down .messagebox .dddd .headBox {
          width: 35px;
          height: 35px; }
        .lightbox_actsCheckout_outside .acts_lightbox_down .messagebox .dddd span {
          width: 90%;
          padding: 5px 10px;
          font-size: .8rem;
          position: relative;
          left: 5px;
          border-bottom: 1px dotted transparent; } */
    .lightbox_actsCheckout_outside .acts_lightbox_down #myMessagebox_input {
      width: 86%;
      position: absolute;
      bottom: -12px;
      left: 50px; }
      .lightbox_actsCheckout_outside .acts_lightbox_down #myMessagebox_input:focus {
        height: 35px -4px;
        color: #444;
        background-color: #fff; }
    .lightbox_actsCheckout_outside .acts_lightbox_down #msgtitle {
      margin: auto;
      position: absolute;
      left: 6%;
      top: -39%;
      bottom: 50%;
      border-bottom: 1px solid transparent; }

@media only screen and (max-width: 1200px) {
  .act_officialBanner {
    padding-bottom: 28%; }
    .act_officialBanner img {
      width: 60%; }
    .act_officialBanner .act_info {
      width: 40%; }
  .act_memberHold .act_memberHold_box {
    padding-bottom: 27%; } }

@media only screen and (max-width: 1150px) {
  .act_officialBanner img {
    width: 50%; }
  .act_officialBanner .act_info {
    width: 50%; }
  .act_memberHold_B {
    width: 90%; }
    .act_memberHold_B .act_myActs {
      padding-bottom: 5%; }
      .act_memberHold_B .act_myActs h3 {
        position: absolute;
        left: 10%; }
    .act_memberHold_B .act_joins {
      padding-bottom: 5%; }
      .act_memberHold_B .act_joins h3 {
        position: absolute;
        left: 10%; } }

@media only screen and (max-width: 1100px) {
  .act_officialBanner {
    flex-wrap: wrap;
    height: 50%;
    padding-bottom: 0%; }
    .act_officialBanner img {
      width: 100%; }
    .act_officialBanner .act_info {
      width: 100%; }
  .act_memberHold {
    height: 50%;
    padding-bottom: 4%; }
    .act_memberHold .act_memberHold_box {
      width: 45%;
      height: 300px;
      padding-bottom: 20px; } }

@media only screen and (max-width: 768px) {
  .act_officialBanner {
    width: 95%; }
    .act_officialBanner .act_info span {
      width: 20%;
      padding: 10px 0; }
    .act_officialBanner .act_info button {
      margin: 0 0 25px 0px; }
  .act_memberHold {
    width: 95%; }
    .act_memberHold .act_memberHold_box {
      padding-bottom: 20%; }
      .act_memberHold .act_memberHold_box span {
        width: 40%;
        padding: 4px 5px;
        display: inline-block;
        font-size: .7rem; }
  .act_memberHold_B {
    width: 100%; }
    .act_memberHold_B .act_myActs {
      height: 70vh;
      padding-bottom: 4%; }
      .act_memberHold_B .act_myActs h3 {
        position: absolute;
        left: 0%; }
      .act_memberHold_B .act_myActs .act_memberCheckBox {
        height: 100%;
        flex-wrap: wrap;
        top: 90px; }
        .act_memberHold_B .act_myActs .act_memberCheckBox img {
          width: 100%; }
        .act_memberHold_B .act_myActs .act_memberCheckBox .act_MCInfo {
          width: 100%;
          height: 300px; }
          .act_memberHold_B .act_myActs .act_memberCheckBox .act_MCInfo input {
            margin: 0 auto; }
    .act_memberHold_B .act_joins {
      height: 70vh;
      padding-bottom: 4%; }
      .act_memberHold_B .act_joins h3 {
        position: absolute;
        left: 0%; }
      .act_memberHold_B .act_joins .act_memberCheckBox {
        height: 100%;
        flex-wrap: wrap;
        top: 90px; }
        .act_memberHold_B .act_joins .act_memberCheckBox img {
          width: 100%; }
        .act_memberHold_B .act_joins .act_memberCheckBox .act_MCInfo {
          width: 100%;
          height: 300px; }
          .act_memberHold_B .act_joins .act_memberCheckBox .act_MCInfo input {
            margin: 0 auto; } }

@media only screen and (max-width: 550px) {
  .act_memberHold .act_memberHold_box {
    padding-bottom: 20%;
    width: 48%;
    height: 260px; } }

@media only screen and (max-width: 476px) {
  #Agee {
    left: 4%;
    top: 14%; }
  #btn_actCheck, #btn_actJoin {
    width: 70px;
    bottom: 0; }
  .act_memberHold {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -40px; }
    .act_memberHold .act_memberHold_box {
      padding-bottom: 20%;
      width: 48%;
      height: 220px; }
  .act_memberHold_B {
    padding-left: 10px;
    padding-right: 10px; }
  .act_memberHold .act_memberHold_box .spanbox {
    width: 60%;
    margin: 5px auto;
    display: flex;
    flex-wrap: unset; }
  .act_memberHold .act_tab_pages {
    width: 100px;
    transform: translateX(-51%);
    position: absolute;
    left: 50%;
    bottom: 10px; }
  .act_memberHold_B .act_myActs h3 {
    position: absolute;
    left: 0%; }
  .act_memberHold_B .act_joins h3 {
    position: absolute;
    left: 0%; } }

@media only screen and (max-width: 1100px) {
  #Agee {
    width: 25%;
    position: absolute;
    left: 24%;
    bottom: 3%; }
  .act_section01 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url(../images/activity/act_bg_03.svg);
    background-position: center 79%;
    background-size: 272%;
    background-repeat: no-repeat;
    background-color: #abe9ff; }
    .act_section01 h1 {
      width: 40%;
      font-size: 2rem;
      letter-spacing: .15rem;
      color: #f05c79;
      transform: rotate(0deg);
      position: relative;
      z-index: 2;
      top: 19vh;
      left: 9vh; }
    .act_section01 .act_mainbox {
      width: 51%;
      height: 0;
      padding-bottom: 43%;
      background-image: url(../images/activity/act_board.svg);
      background-position: center top;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      right: 7%;
      bottom: 17%;
      z-index: 2;
      overflow: hidden;
      transform: rotate(-1.5deg); }
      .act_section01 .act_mainbox .btnbox {
        width: 100%;
        transform: rotate(1.5deg);
        position: relative;
        top: 141px;
        left: 10px;
        display: flex;
        justify-content: space-between; }
    .act_section01 .act_bg_moving01 {
      display: none; }
    .act_section01 .act_bus {
      width: 32%;
      z-index: 4;
      position: absolute;
      left: -3%;
      bottom: 5%; }
  .lightbox_act .lightbox_act_info {
    width: 97%; }
    .lightbox_act .lightbox_act_info img {
      width: 44%; }
  .lightbox_holdact .lightbox_holdact_info {
    width: 98%; }
    .lightbox_holdact .lightbox_holdact_info .act_holdActFileBox {
      line-height: 130px; } }

@media only screen and (max-width: 768px) {
  #Agee {
    display: none; }
  .act_section01 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url(../images/activity/act_bg_03.svg);
    background-position: center 68%;
    background-size: 400%;
    background-repeat: no-repeat;
    background-color: #abe9ff; }
    .act_section01 h1 {
      width: 98%;
      font-size: 2rem;
      letter-spacing: .15rem;
      color: #f05c79;
      transform: rotate(0deg);
      position: relative;
      z-index: 2;
      top: 15vh;
      left: 9vh; }
    .act_section01 .act_mainbox {
      width: 64%;
      height: 0;
      padding-bottom: 54%;
      background-image: url(../images/activity/act_board.svg);
      background-position: center top;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      right: 4%;
      bottom: 16%;
      z-index: 2;
      overflow: hidden;
      transform: rotate(-1.5deg); }
      .act_section01 .act_mainbox .btnbox {
        width: 100%;
        transform: rotate(2deg);
        position: relative;
        top: 110px;
        left: 10px;
        display: flex;
        justify-content: space-between; }
    .act_section01 .act_bg_moving01 {
      display: none; }
    .act_section01 .act_bus {
      width: 45%;
      z-index: 4;
      position: absolute;
      left: -3%;
      bottom: 0%; }
  .act_tabBar span {
    width: 95px;
    height: 28px; }
  .lightbox_act .lightbox_act_info {
    width: 97%; }
    .lightbox_act .lightbox_act_info img {
      width: 60%; }
    .lightbox_act .lightbox_act_info p {
      width: 60%; }
    .lightbox_act .lightbox_act_info .spanbox {
      width: 60%; }
  .lightbox_holdact .lightbox_holdact_info {
    width: 95%;
    height: 55%; }
    .lightbox_holdact .lightbox_holdact_info .act_holdActFileBox {
      line-height: 130px; }
  .act_officialBanner img {
    height: 400px; }
  .act_officialBanner .act_info button {
    bottom: 0px; }
  .act_memberHold .act_memberHold_box {
    width: 48%;
    height: 328px; }
    .act_memberHold .act_memberHold_box h3 {
      font-size: 1rem;
      border-bottom: 2px solid #fff;
      width: 35%; }
  .act_memberHold .act_memberHold_join {
    opacity: 1;
    bottom: 30px; }
  .act_memberHold .act_tab_pages {
    left: 47%;
    bottom: 7px;
    width: 40%;
    height: 30px;
    margin: 0 auto;
    overflow-x: scroll; }
  .lightbox_actsCheckout_outside .lightbox_actsCheckout {
    width: 95%;
    height: 55%; }
  .partB .partB_top .partB_top_content {
    width: 100%;
    height: 195px; } }

@media only screen and (max-width: 476px) {
  .act_section01 {
    width: 100%;
    height: 100vh;
    min-width: 400px;
    overflow: hidden;
    background-image: url(../images/activity/act_bg_03.svg);
    background-position: center 100%;
    background-size: 427%;
    background-repeat: no-repeat;
    background-color: #abe9ff; }
    .act_section01 h1 {
      width: 98%;
      font-size: 2rem;
      letter-spacing: .15rem;
      color: #f05c79;
      transform: rotate(0deg);
      position: relative;
      z-index: 2;
      top: 15vh;
      left: 15vh; }
    .act_section01 .act_mainbox {
      width: 95%;
      height: 0;
      padding-bottom: 81%;
      background-image: url(../images/activity/act_board.svg);
      background-position: center top;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      right: 2%;
      bottom: 24%;
      z-index: 2;
      overflow: hidden;
      transform: rotate(-1.5deg); }
      .act_section01 .act_mainbox .btnbox {
        width: 100%;
        transform: rotate(2deg);
        position: relative;
        top: 96px;
        left: 7px;
        display: flex;
        justify-content: space-between; }
    .act_section01 .act_bg_moving01 {
      display: none; }
    .act_section01 .act_bus {
      width: 61%;
      z-index: 4;
      position: absolute;
      left: -3%;
      bottom: 5%; }
  .lightbox_act .lightbox_act_info {
    width: 97%; }
    .lightbox_act .lightbox_act_info img {
      width: 60%; }
    .lightbox_act .lightbox_act_info p {
      width: 80%;
      color: #f05c79;
      font-size: .8rem;
      max-width: 600px;
      line-height: 1rem; }
    .lightbox_act .lightbox_act_info .spanbox {
      width: 65%;
      display: flex;
      justify-content: space-around;
      align-items: center; }
  .lightbox_holdact .lightbox_holdact_info {
    width: 98%; }
    .lightbox_holdact .lightbox_holdact_info .act_holdActFileBox {
      line-height: 130px; }
  .act_section02 {
    min-width: 400px; }
  .lightbox_holdact .lightbox_holdact_info {
    width: 95%;
    height: 75%; }
    .lightbox_holdact .lightbox_holdact_info .act_holdActFileBox {
      width: 52%;
      top: 50px;
      right: 8px;
      padding-bottom: 7%;
      line-height: 0; }
      .lightbox_holdact .lightbox_holdact_info .act_holdActFileBox img {
        position: relative;
        right: 10px; }
    .lightbox_holdact .lightbox_holdact_info form label input {
      width: 75%;
      height: 25px;
      margin-top: 10px;
      margin: 10px auto;
      text-align: left;
      font-size: .7rem;
      text-align: center; }
    .lightbox_holdact .lightbox_holdact_info form .label2 {
      position: relative;
      top: 50px; }
  .act_memberHold_B .act_myActs .act_memberCheckBox {
    top: 60px; }
  .act_memberHold_B .act_joins .act_memberCheckBox {
    top: 60px; }
  #btn_Actjoin01 {
    width: 80px;
    height: 30px; }
  .act_officialBanner img {
    height: 300px; }
  .act_memberHold .act_memberHold_box {
    width: 90%;
    margin: 5px auto;
    height: 340px; }
  .act_memberHold .act_tab_pages {
    width: 40%;
    height: 30px;
    margin: 0 auto;
    left: 50%;
    bottom: 0px;
    overflow-x: scroll; }
  .lightbox_actsCheckout_outside .lightbox_actsCheckout {
    width: 95%;
    height: 75%;
    top: 55px; }
    .lightbox_actsCheckout_outside .lightbox_actsCheckout .acts_lightbox_top h3 {
      position: absolute;
      left: -60%;
      top: 10px;
      font-size: .9rem;
      color: rgba(102, 102, 102, 0.7); }
    .lightbox_actsCheckout_outside .lightbox_actsCheckout .acts_lightbox_top .acts_lightbox_top_right {
      width: 60%;
      padding-top: 20px;
      display: flex;
      /* flex-wrap: wrap; */
      flex-direction: column;
      align-items: center;
      position: relative; }
    .lightbox_actsCheckout_outside .lightbox_actsCheckout .acts_lightbox_top span {
      width: 65%;
      height: 15%;
      font-size: .8rem; }
    .lightbox_actsCheckout_outside .lightbox_actsCheckout .acts_lightbox_down #btn_ActJoinToDB {
      position: absolute;
      right: 0px;
      bottom: 100%;
      width: 75px;
      height: 30px; }
    .lightbox_actsCheckout_outside .lightbox_actsCheckout .acts_lightbox_down .messagebox {
      width: 100%;
      height: 155px;
      text-align: left;
      padding: 10px 20px;
      border-radius: 15px;
      overflow-y: scroll;
      position: relative;
      right: 0px;
      bottom: 0px; }
    .lightbox_actsCheckout_outside .lightbox_actsCheckout .acts_lightbox_down #myMessagebox_input {
      width: 74%; }
    
  .act_tabBar #btn_holdAct {
    display: block;
    position: absolute;
    right: -30px;
    z-index: 4;
    width: 75px;
    height: 30px; }
  .act_memberHold .act_memberHold_box .act_memberHold_join {
    width: 100px;
    height: 50px;
    position: absolute;
    right: -5%;
    bottom: -5px;
    opacity: 1; }
    .act_memberHold .act_memberHold_box .act_memberHold_join button {
      width: 75px;
      height: 30px;
      display: block; }
  .partB .partB_top .partB_top_content {
    width: 100%;
    height: 250px;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative; }
    .partB .partB_top .partB_top_content .contentImg {
      width: 47%;
      height: 0;
      padding-bottom: 55%;
      display: block;
      border-radius: 15px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat; }
    .partB .partB_top .partB_top_content .buttonbox {
      width: 45%;
      display: flex;
      position: absolute;
      left: 2%;
      top: 85%; }
    .partB .partB_top .partB_top_content .spanbox {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      .partB .partB_top .partB_top_content .spanbox span {
        width: 100%;
        padding: 5px 10px;
        color: #f05c79;
        font-size: .9rem;
        line-height: 20px; } }
