.act_section01 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url("../images/activity/act_bg_03.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: #abe9ff; }
  .act_section01 h1 {
    width: 30%;
    font-size: 2rem;
    letter-spacing: .15rem;
    color: #f05c79;
    transform: rotate(-6deg);
    position: relative;
    z-index: 2;
    top: 20vh;
    left: 30vh; }
  .act_section01 .act_mainbox {
    width: 38%;
    height: 0;
    padding-bottom: 32%;
    background-image: url("../images/activity/act_board.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 10%;
    bottom: 15%;
    z-index: 2;
    overflow: hidden; }
    .act_section01 .act_mainbox .imgBox {
      width: 90%;
      height: 50%;
      margin: 5px 5%; }
      .act_section01 .act_mainbox .imgBox img {
        width: 87%;
        margin: 0 5%;
        position: relative;
        z-index: 3;
        cursor: pointer; }
    .act_section01 .act_mainbox .btnbox {
      width: 100%;
      transform: rotate(2deg);
      position: relative;
      top: 150px;
      left: 10px;
      display: flex;
      justify-content: space-between; }
      .act_section01 .act_mainbox .btnbox #btn_actL, .act_section01 .act_mainbox .btnbox #btn_actR {
        display: inline-block;
        width: 12%;
        height: 0;
        padding-bottom: 12%;
        cursor: pointer; }
      .act_section01 .act_mainbox .btnbox #btn_actL {
        background-image: url("../images/activity/act_boardBtnL.svg");
        background-repeat: no-repeat; }
      .act_section01 .act_mainbox .btnbox #btn_actR {
        background-image: url("../images/activity/act_boardBtnR.svg");
        background-repeat: no-repeat; }
  .act_section01 .act_bg_moving01 {
    width: 100%;
    height: 45vh;
    position: absolute;
    top: 10vh;
    left: 0;
    background-image: url("../images/activity/cloud01.svg"), url("../images/activity/cloud01.svg"), url("../images/activity/cloud01.svg"), url("../images/activity/cloud01.svg"), url("../images/activity/cloud01.svg");
    background-size: 70px;
    background-position: 50% 10%, 60% 47%, 10% 57%, 25% 11%, 80% 22%;
    background-repeat: no-repeat;
    animation: cloudMoving 50s infinite linear forwards; }
  .act_section01 .act_bus {
    width: 25%;
    position: absolute;
    left: 10%;
    bottom: 10%; }
  .act_section01 #LightBoxAct, .act_section01 #LightBoxActInner, .act_section01 #LightBoxActClose {
    position: relative;
    z-index: -1; }
  .act_section01 #LightBoxActInner {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

.lightbox_act {
  width: 100%;
  height: 100%;
  background-color: rgba(66, 65, 65, 0.7);
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  display: none;
  display: flex;
  justify-content: center;
  align-items: center; }
  .lightbox_act .lightbox_act_info {
    width: 50%;
    height: 350px;
    padding: 20px 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #f05c79;
    border-radius: 15px;
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    position: relative; }
    .lightbox_act .lightbox_act_info img {
      width: 45%;
      transform: rotate(-1deg); }
    .lightbox_act .lightbox_act_info h2 {
      width: 70%;
      height: 30px;
      font-size: 1rem;
      color: #f05c79; }
    .lightbox_act .lightbox_act_info p {
      width: 70%;
      color: #f05c79;
      font-size: .8rem; }
    .lightbox_act .lightbox_act_info .spanbox {
      width: 70%;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .lightbox_act .lightbox_act_info .spanbox span {
        display: inline-block;
        width: 20%;
        color: #f05c79;
        font-size: .8rem; }

@keyframes busMoving {
  0% {
    left: 5%;
    bottom: 5%;
    z-index: 4; }
  30% {
    left: 30%;
    bottom: 15%;
    z-index: 4; }
  60% {
    left: 60%;
    bottom: 10%;
    z-index: 4; }
  90% {
    left: 90%;
    bottom: 5%;
    z-index: 4; }
  100% {
    left: 90%;
    bottom: 5%;
    z-index: 4; } }

@keyframes cloudMoving {
  0% {
    background-position: 50% 10%, 60% 47%, 10% 57%, 25% 11%, 80% 22%; }
  100% {
    background-position: 70% 10%, 90% 47%, 20% 57%, 65% 11%, 110% 22%; } }

.act_section02 {
  width: 100%;
  padding-top: 50px;
  background-image: url(../images/activity/activityGrass.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column; }

.act_tabBar {
  width: 80%;
  margin: 10px auto;
  position: relative; }
  .act_tabBar span {
    display: inline-block;
    padding: 5px 10px;
    font-size: .7rem;
    color: #444;
    border-bottom: 1px solid #444;
    cursor: pointer; }
  .act_tabBar span:hover {
    color: #fff;
    border-bottom: 1px solid #fff; }
  .act_tabBar #tab_allAct {
    color: #fff;
    border-bottom: 1px solid #fff; }
  .act_tabBar #btn_holdAct {
    position: absolute;
    right: 0;
    z-index: 4; }

.lightbox_holdact {
  width: 100%;
  height: 100%;
  background-color: rgba(66, 65, 65, 0.7);
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  display: none;
  display: flex;
  justify-content: center;
  align-items: center; }
  .lightbox_holdact .lightbox_holdact_info {
    width: 50%;
    height: 400px;
    padding: 20px 20px;
    color: #f05c79;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #f05c79;
    border-radius: 15px;
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    position: relative;
    bottom: 20%; }
    .lightbox_holdact .lightbox_holdact_info h2 {
      width: 100%;
      text-align: left; }
    .lightbox_holdact .lightbox_holdact_info label {
      width: 90%;
      text-align: left;
      vertical-align: top; }
      .lightbox_holdact .lightbox_holdact_info label input {
        width: 25%;
        height: 20px;
        margin-top: 10px;
        text-align: left;
        font-size: .7rem; }
      .lightbox_holdact .lightbox_holdact_info label textarea {
        width: 250px;
        resize: none;
        font-size: .8rem;
        margin-top: 10px; }
    .lightbox_holdact .lightbox_holdact_info #input_actInfo {
      height: 50px;
      position: relative; }
    .lightbox_holdact .lightbox_holdact_info .act_holdActFileBox {
      width: 44%;
      height: 0;
      padding-bottom: 27%;
      border-radius: 15px;
      line-height: 150px;
      border: 1px dashed #fff;
      position: absolute;
      top: 10px;
      right: 10px; }

.partA {
  display: block; }

.partB {
  display: none; }

.act_officialBanner {
  width: 80%;
  height: 0;
  padding-bottom: 25%;
  margin: 10px auto;
  display: flex; }
  .act_officialBanner img {
    width: 65%;
    height: 300px; }
  .act_officialBanner .act_info {
    width: 35%;
    text-align: center; }
    .act_officialBanner .act_info h2 {
      width: 100%;
      padding: 10px 20px;
      text-align: left; }
    .act_officialBanner .act_info span {
      display: inline-block;
      width: 30%;
      padding: 10px 20px;
      text-align: left;
      font-size: .8rem; }
    .act_officialBanner .act_info p {
      text-align: left;
      padding: 5px 0 5px 20px;
      font-size: .8rem; }
    .act_officialBanner .act_info button {
      display: inline-block;
      margin: 20px 20px; }

.act_memberHold {
  width: 80%;
  height: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50%;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: space-around; }
  .act_memberHold .act_memberHold_box {
    width: 30%;
    height: 0;
    padding-bottom: 27%;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center; }
    .act_memberHold .act_memberHold_box img {
      width: 100%; }
    .act_memberHold .act_memberHold_box h3 {
      width: 100%;
      font-size: .9rem;
      padding: 7px 0; }
    .act_memberHold .act_memberHold_box .spanbox {
      width: 100%;
      position: relative;
      left: 20%;
      display: flex;
      flex-wrap: wrap; }
      .act_memberHold .act_memberHold_box .spanbox span {
        width: 30%;
        height: 30px;
        padding: 5px 10px;
        display: inline-block;
        font-size: .7rem;
        text-align: left; }
    .act_memberHold .act_memberHold_box p {
      width: 90%;
      font-size: .8rem;
      padding: 5px 10px;
      text-align: right;
      cursor: pointer; }
  .act_memberHold .act_tab_pages {
    width: 100px;
    transform: translateX(-30%);
    position: absolute;
    left: 50%;
    bottom: 15px; }
    .act_memberHold .act_tab_pages span {
      width: 20px;
      padding: 2px 5px;
      font-size: .7rem; }

.act_memberHold_B {
  width: 80%;
  padding-bottom: 5%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px auto; }
  .act_memberHold_B .act_myActs, .act_memberHold_B .act_joins {
    width: 100%;
    width: 100%;
    height: 45vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; }
    .act_memberHold_B .act_myActs h3, .act_memberHold_B .act_joins h3 {
      display: inline-block;
      padding: 10px 20px; }
    .act_memberHold_B .act_myActs .act_memberCheckBox, .act_memberHold_B .act_joins .act_memberCheckBox {
      width: 100%;
      display: inline-block;
      display: flex; }
      .act_memberHold_B .act_myActs .act_memberCheckBox img, .act_memberHold_B .act_joins .act_memberCheckBox img {
        width: 60%; }
      .act_memberHold_B .act_myActs .act_memberCheckBox .act_MCInfo, .act_memberHold_B .act_joins .act_memberCheckBox .act_MCInfo {
        width: 40%;
        padding: 20px 20px;
        display: flex;
        flex-direction: column; }
        .act_memberHold_B .act_myActs .act_memberCheckBox .act_MCInfo h4, .act_memberHold_B .act_joins .act_memberCheckBox .act_MCInfo h4 {
          font-size: .8rem; }
        .act_memberHold_B .act_myActs .act_memberCheckBox .act_MCInfo .messagebox, .act_memberHold_B .act_joins .act_memberCheckBox .act_MCInfo .messagebox {
          width: 100%;
          height: 200px; }
        .act_memberHold_B .act_myActs .act_memberCheckBox .act_MCInfo input, .act_memberHold_B .act_joins .act_memberCheckBox .act_MCInfo input {
          width: 80%;
          height: 25px; }

@media only screen and (max-width: 1200px) {
  .act_officialBanner {
    padding-bottom: 28%; }
    .act_officialBanner img {
      width: 60%; }
    .act_officialBanner .act_info {
      width: 40%; }
  .act_memberHold .act_memberHold_box {
    padding-bottom: 27%; } }

@media only screen and (max-width: 1150px) {
  .act_officialBanner img {
    width: 50%; }
  .act_officialBanner .act_info {
    width: 50%; }
  .act_memberHold_B {
    width: 90%; }
    .act_memberHold_B .act_myActs {
      padding-bottom: 5%; }
      .act_memberHold_B .act_myActs h3 {
        position: absolute;
        left: 10%; }
    .act_memberHold_B .act_joins {
      padding-bottom: 5%; }
      .act_memberHold_B .act_joins h3 {
        position: absolute;
        left: 10%; } }

@media only screen and (max-width: 1100px) {
  .act_officialBanner {
    flex-wrap: wrap;
    height: 50%;
    padding-bottom: 0%; }
    .act_officialBanner img {
      width: 100%; }
    .act_officialBanner .act_info {
      width: 100%; }
  .act_memberHold {
    height: 50%;
    padding-bottom: 4%; }
    .act_memberHold .act_memberHold_box {
      width: 45%;
      height: 300px;
      padding-bottom: 20px; } }

@media only screen and (max-width: 767px) {
  .act_officialBanner {
    width: 95%; }
    .act_officialBanner .act_info span {
      width: 20%;
      padding: 10px 0; }
    .act_officialBanner .act_info button {
      margin: 0 0 25px 0px; }
  .act_memberHold {
    width: 95%; }
    .act_memberHold .act_memberHold_box {
      padding-bottom: 20%; }
      .act_memberHold .act_memberHold_box span {
        width: 40%;
        padding: 4px 5px;
        display: inline-block;
        font-size: .7rem; }
  .act_memberHold_B {
    width: 100%; }
    .act_memberHold_B .act_myActs {
      height: 70vh;
      padding-bottom: 4%; }
      .act_memberHold_B .act_myActs h3 {
        position: absolute;
        left: 10%; }
      .act_memberHold_B .act_myActs .act_memberCheckBox {
        height: 100%;
        flex-wrap: wrap; }
        .act_memberHold_B .act_myActs .act_memberCheckBox img {
          width: 100%; }
        .act_memberHold_B .act_myActs .act_memberCheckBox .act_MCInfo {
          width: 100%;
          height: 200px; }
          .act_memberHold_B .act_myActs .act_memberCheckBox .act_MCInfo input {
            margin: 0 auto; }
    .act_memberHold_B .act_joins {
      height: 70vh;
      padding-bottom: 4%; }
      .act_memberHold_B .act_joins h3 {
        position: absolute;
        left: 10%; }
      .act_memberHold_B .act_joins .act_memberCheckBox {
        height: 100%;
        flex-wrap: wrap; }
        .act_memberHold_B .act_joins .act_memberCheckBox img {
          width: 100%; }
        .act_memberHold_B .act_joins .act_memberCheckBox .act_MCInfo {
          width: 100%;
          height: 200px; }
          .act_memberHold_B .act_joins .act_memberCheckBox .act_MCInfo input {
            margin: 0 auto; } }

@media only screen and (max-width: 550px) {
  .act_memberHold .act_memberHold_box {
    padding-bottom: 20%;
    width: 48%;
    height: 260px; } }

@media only screen and (max-width: 476px) {
  #btn_actCheck, #btn_actJoin {
    width: 70px; }
  .act_memberHold {
    padding-left: 10px;
    padding-right: 10px; }
    .act_memberHold .act_memberHold_box {
      padding-bottom: 20%;
      width: 48%;
      height: 220px; }
  .act_memberHold_B {
    padding-left: 10px;
    padding-right: 10px; } }

@media only screen and (max-width: 1100px) {
  .act_section01 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url(../images/activity/act_bg_03.svg);
    background-position: center 79%;
    background-size: 272%;
    background-repeat: no-repeat;
    background-color: #abe9ff; }
    .act_section01 h1 {
      width: 98%;
      font-size: 3rem;
      letter-spacing: .15rem;
      color: #f05c79;
      transform: rotate(0deg);
      position: relative;
      z-index: 2;
      top: 19vh;
      left: 9vh; }
    .act_section01 .act_mainbox {
      width: 83%;
      height: 0;
      padding-bottom: 71%;
      background-image: url(../images/activity/act_board.svg);
      background-position: center top;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      right: 7%;
      bottom: 17%;
      z-index: 2;
      overflow: hidden;
      transform: rotate(-1.5deg); }
      .act_section01 .act_mainbox .btnbox {
        width: 100%;
        transform: rotate(1.5deg);
        position: relative;
        top: 141px;
        left: 10px;
        display: flex;
        justify-content: space-between; }
    .act_section01 .act_bg_moving01 {
      display: none; }
    .act_section01 .act_bus {
      width: 49%;
      z-index: 4;
      position: absolute;
      left: -3%;
      bottom: 5%; }
  .lightbox_act .lightbox_act_info {
    width: 97%; }
    .lightbox_act .lightbox_act_info img {
      width: 44%; }
  .lightbox_holdact .lightbox_holdact_info {
    width: 98%; }
    .lightbox_holdact .lightbox_holdact_info .act_holdActFileBox {
      line-height: 130px; } }

@media only screen and (max-width: 767px) {
  .act_section01 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url(../images/activity/act_bg_03.svg);
    background-position: center 100%;
    background-size: 427%;
    background-repeat: no-repeat;
    background-color: #abe9ff; }
    .act_section01 h1 {
      width: 98%;
      font-size: 2rem;
      letter-spacing: .15rem;
      color: #f05c79;
      transform: rotate(0deg);
      position: relative;
      z-index: 2;
      top: 15vh;
      left: 9vh; }
    .act_section01 .act_mainbox {
      width: 88%;
      height: 0;
      padding-bottom: 75%;
      background-image: url(../images/activity/act_board.svg);
      background-position: center top;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      right: 4%;
      bottom: 9%;
      z-index: 2;
      overflow: hidden;
      transform: rotate(-1.5deg); }
      .act_section01 .act_mainbox .btnbox {
        width: 100%;
        transform: rotate(0deg);
        position: relative;
        top: 171px;
        left: 10px;
        display: flex;
        justify-content: space-between; }
    .act_section01 .act_bg_moving01 {
      display: none; }
    .act_section01 .act_bus {
      width: 37%;
      z-index: 4;
      position: absolute;
      left: -3%;
      bottom: 5%; }
  .lightbox_act .lightbox_act_info {
    width: 97%; }
    .lightbox_act .lightbox_act_info img {
      width: 44%; }
  .lightbox_holdact .lightbox_holdact_info {
    width: 98%; }
    .lightbox_holdact .lightbox_holdact_info .act_holdActFileBox {
      line-height: 130px; } }

@media only screen and (max-width: 476px) {
  .act_section01 {
    width: 100%;
    height: 100vh;
    min-width: 400px;
    overflow: hidden;
    background-image: url(../images/activity/act_bg_03.svg);
    background-position: center 100%;
    background-size: 427%;
    background-repeat: no-repeat;
    background-color: #abe9ff; }
    .act_section01 h1 {
      width: 98%;
      font-size: 2rem;
      letter-spacing: .15rem;
      color: #f05c79;
      transform: rotate(0deg);
      position: relative;
      z-index: 2;
      top: 15vh;
      left: 9vh; }
    .act_section01 .act_mainbox {
      width: 95%;
      height: 0;
      padding-bottom: 81%;
      background-image: url(../images/activity/act_board.svg);
      background-position: center top;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      right: 2%;
      bottom: 24%;
      z-index: 2;
      overflow: hidden;
      transform: rotate(-1deg); }
      .act_section01 .act_mainbox .btnbox {
        width: 100%;
        transform: rotate(2deg);
        position: relative;
        top: 96px;
        left: 7px;
        display: flex;
        justify-content: space-between; }
    .act_section01 .act_bg_moving01 {
      display: none; }
    .act_section01 .act_bus {
      width: 61%;
      z-index: 4;
      position: absolute;
      left: -3%;
      bottom: 5%; }
  .lightbox_act .lightbox_act_info {
    width: 97%; }
    .lightbox_act .lightbox_act_info img {
      width: 76%; }
  .lightbox_holdact .lightbox_holdact_info {
    width: 98%; }
    .lightbox_holdact .lightbox_holdact_info .act_holdActFileBox {
      line-height: 130px; }
  .act_section02 {
    min-width: 400px; } }
