
#cart_background #cart-content #cartTable {
    width: 100%;
    margin: 10px 0;
    max-height: 300px;
    overflow-y: scroll;
}

.showCoin_postion{
    position: absolute;
    right: 180px;
    top: 179px;
    background-color: #f5d1e1;
    padding: 4px 9px 4px 8px;
    border-radius: 15px;
    line-height: 23px;
}

@media only screen and (max-width: 768px){
    .background{
        height: 1025px;
    }
    .showCoin_postion {
        position: absolute;
        right: 4%;
        top: 22%;
    }
}

@media only screen and (max-width: 476px){
    .background{
        height: 824px;
    }

}