html {
  overflow-x: hidden;
  position: relative;
}

html body {
  overflow: hidden;
}

.indexTitle {
  position: relative;
  padding: 0 0 20px 0;
  color: #EF5C79;
  text-align: center;
}

.indexTitle h2 {
  text-align: center;
  font-weight: 600;
  font-size: 2.5rem;
}

@media only screen and (min-width: 768px) {
  .indexTitle h2 {
    padding: 25px;
  }
}

.indexTitle a {
  display: none;
  line-height: 35px;
}

@media only screen and (min-width: 768px) {
  .indexTitle a {
    display: inline-block;
  }
}

.btn_R {
  width: 100px;
  border-radius: 12px;
  background-color: #f05c79;
  -webkit-box-shadow: 0px 4px 0px #c84e6a;
          box-shadow: 0px 4px 0px #c84e6a;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  border: none;
  color: #e5e5e5;
  height: 35px;
}

.btn_R:hover {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-box-shadow: 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px transparent;
}

.indexBtn a {
  padding: 10px 20px;
}

@-webkit-keyframes cabin-transit {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}

@keyframes cabin-transit {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}

.firstScreen {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 100vh;
  background-color: #81b9f0;
}

.firstScreen .firstScreenBg {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.firstScreen .firstScreenBg img {
  bottom: 28%;
  position: absolute;
  z-index: 3;
}

.firstScreen .firstScreenBg .city {
  min-width: 1600px;
  -webkit-transition: .8s;
  transition: .8s;
}

@media only screen and (min-width: 768px) {
  .firstScreen .firstScreenBg .city {
    max-width: none;
    width: 115%;
    height: auto;
    min-width: 1600px;
  }
}

.firstScreen .firstScreenBg .fwOO {
  z-index: 2;
  width: 27%;
  right: 8%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .24s;
  transition: .24s;
  max-width: 450px;
  max-width: 400px;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

@media only screen and (min-width: 768px) {
  .firstScreen .firstScreenBg .fwOO {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: 1.66s;
    transition: 1.66s;
    -webkit-animation: cabin-transit 60s linear infinite;
            animation: cabin-transit 60s linear infinite;
  }
}

.firstScreen .firstScreenBg .cloud {
  position: absolute;
  top: 0;
  left: -25%;
  z-index: 1;
}

.firstScreen .firstScreenInfo {
  top: 0;
  position: absolute;
  height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 6;
}

.firstScreen .firstScreenInfo .indexSlogan {
  left: 3.5%;
  position: absolute;
  bottom: 53%;
  -webkit-transition: .8s;
  transition: .8s;
  z-index: 5;
}

@media only screen and (min-width: 476px) {
  .firstScreen .firstScreenInfo .indexSlogan {
    left: 15%;
  }
}

@media only screen and (min-width: 768px) {
  .firstScreen .firstScreenInfo .indexSlogan {
    left: -37%;
    right: 0;
    margin: auto;
    text-align: center;
    bottom: 52%;
  }
}

.firstScreen .firstScreenInfo .indexSlogan h2 {
  font-size: 2.7rem;
}

.firstScreen .firstScreenInfo .indexSlogan h2 span {
  display: block;
  color: white;
  font-weight: 600;
  line-height: 1.6;
  text-shadow: 0px 0px 5px #EF5C79;
}

.firstScreen .firstScreenInfo .indexGod {
  height: 80vh;
  max-width: 1200px;
  width: 100%;
  position: relative;
}

.firstScreen .firstScreenInfo .indexGod #indexCupid {
  position: absolute;
  display: block;
  width: 45%;
  right: -12%;
  bottom: 5%;
  min-width: 260px;
  -webkit-transition: .8s;
  transition: .8s;
  z-index: 3;
}

@media only screen and (min-width: 768px) {
  .firstScreen .firstScreenInfo .indexGod #indexCupid {
    bottom: 0%;
    top: 13vh;
    right: 2%;
    max-width: 460px;
  }
}

@media only screen and (min-width: 1045px) {
  .firstScreen .firstScreenInfo .indexGod #indexCupid {
    right: 6%;
  }
}

.firstScreen .firstScreenInfo .indexGod #cupidLight {
  z-index: 4;
  width: 75%;
  position: absolute;
  right: -14%;
  top: 7%;
  -webkit-transition: 1s;
  transition: 1s;
}

@media only screen and (min-height: 750px) and (max-width: 768px) {
  .firstScreen .firstScreenInfo .indexGod #cupidLight {
    width: 0;
    opacity: 0;
  }
}

@media only screen and (min-width: 768px) {
  .firstScreen .firstScreenInfo .indexGod #cupidLight {
    width: 50%;
    right: 0%;
  }
}

@media only screen and (min-width: 960px) {
  .firstScreen .firstScreenInfo .indexGod #cupidLight {
    width: 47%;
    right: 1%;
  }
}

@media only screen and (min-width: 1200px) {
  .firstScreen .firstScreenInfo .indexGod #cupidLight {
    width: 40%;
    right: 4%;
  }
}

.firstScreen .firstScreenInfo .indexGod #cupidLight .cls-1 {
  fill: url(#cupidLightGradient);
  opacity: 0.3;
}

.firstScreen .firstScreenInfo .indexGod #createBtn {
  bottom: 33%;
  position: absolute;
  right: 11%;
  z-index: 5;
  width: 12%;
  min-width: 85px;
  height: 5%;
}

@media only screen and (min-width: 768px) {
  .firstScreen .firstScreenInfo .indexGod #createBtn {
    right: 16.5%;
    bottom: 18%;
    max-width: 120px;
  }
}

@media only screen and (min-width: 1200px) {
  .firstScreen .firstScreenInfo .indexGod #createBtn {
    right: 19%;
    bottom: 14%;
    height: 6%;
  }
}

.firstScreen .firstScreenInfo #AjiSpring {
  -webkit-transition: .8s;
  transition: .8s;
  position: absolute;
  display: block;
  width: 30%;
  right: 0%;
  left: 0;
  margin: auto;
  bottom: 8%;
  min-width: 350px;
  z-index: 5;
}

@media only screen and (min-width: 768px) {
  .firstScreen .firstScreenInfo #AjiSpring {
    bottom: 7%;
    min-width: 300px;
    right: 36%;
    width: 60%;
  }
}

.firstScreen .firstScreenInfo #indexAjiSpring {
  -webkit-transition: .8s;
  transition: .8s;
  position: absolute;
  display: block;
  width: 30%;
  right: 0%;
  left: 0;
  margin: auto;
  bottom: 15%;
  min-width: 250px;
  z-index: 5;
}

@media only screen and (min-width: 768px) {
  .firstScreen .firstScreenInfo #indexAjiSpring {
    bottom: 7%;
    min-width: 300px;
    right: 36%;
    width: 40%;
  }
}

.firstScreen .firstScreenInfo #SpringDialog {
  position: absolute;
  width: 13%;
  right: 5%;
  bottom: 36%;
  z-index: 5;
  opacity: 0;
}

@media only screen and (min-width: 768px) {
  .firstScreen .firstScreenInfo #SpringDialog {
    opacity: 1;
    right: 37%;
  }
}

.firstScreen .firstScreenInfo #AjiDialog {
  position: absolute;
  width: 15%;
  right: 82%;
  bottom: 39%;
  z-index: 5;
  opacity: 0;
}

@media only screen and (min-width: 768px) {
  .firstScreen .firstScreenInfo #AjiDialog {
    opacity: 1;
    right: 86%;
    bottom: 37%;
  }
}

.firstScreen .firstScreenFloor {
  background-color: #ECDED9;
  height: 35%;
  z-index: 4;
  bottom: 0;
  position: absolute;
  width: 100%;
  overflow: hidden;
  -webkit-transition: .8s;
  transition: .8s;
  border-radius: 45% 45% 0 0 / 15px 15px 0 0;
}

@media only screen and (min-width: 768px) {
  .firstScreen .firstScreenFloor {
    background-size: 66%;
  }
}

#indexRoad {
  position: absolute;
  top: 65vh;
  z-index: 5;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: .8s;
  transition: .8s;
  height: 0;
  width: 0;
}

@media only screen and (min-width: 768px) {
  #indexRoad {
    height: auto;
    width: 100%;
    max-width: 1200px;
    margin: auto;
  }
}

#indexRoad .cls-1 {
  fill: #f3b9b4;
}

.stoneWrap {
  overflow-x: hidden;
  width: 100%;
  position: absolute;
  z-index: 4;
  top: 66vh;
}

#StoneArray {
  width: 100%;
  height: auto;
  min-width: 1200px;
}

#textRoad {
  position: absolute;
  top: 70vh;
  z-index: 5;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: .8s;
  transition: .8s;
}

.secondScreen {
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #ECDED9;
  padding-bottom: 50px;
}

.secondScreen .secondScreenSlider {
  width: 95%;
  margin: auto;
  z-index: 6;
  position: relative;
  max-width: 1200px;
}

@media only screen and (min-width: 768px) {
  .secondScreen .secondScreenSlider {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media only screen and (min-width: 768px) {
  .secondScreen .secondScreenSlider .sliderTitle {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.secondScreen .secondScreenSlider #trojanList {
  -webkit-perspective: 800px;
          perspective: 800px;
  max-width: 700px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 100%;
  margin: auto;
}

@media only screen and (min-width: 768px) {
  .secondScreen .secondScreenSlider #trojanList {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 60%;
  }
}

@media only screen and (min-width: 1200px) {
  .secondScreen .secondScreenSlider #trojanList {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
}

.secondScreen .secondScreenSlider #trojanList .trojanItem {
  position: absolute;
  width: 20%;
  left: 38%;
  top: 47.3%;
  -webkit-transition: 1s;
  transition: 1s;
}

.secondScreen .secondScreenSlider #trojanList .trojanItem .trojanItemRolebox {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.secondScreen .secondScreenSlider #trojanList .trojanItem .trojanItemRolebox .roleBox {
  width: 76%;
  top: 12%;
}

.secondScreen .secondScreenSlider #trojanList .trojanItem .carousel {
  width: 90%;
}

.secondScreen .secondScreenSlider #ChairPerspective #chair {
  position: absolute;
  display: block;
  width: 60%;
  bottom: 20%;
  right: -6%;
  bottom: 10%;
}

@media only screen and (min-width: 768px) {
  .secondScreen .secondScreenSlider #ChairPerspective #chair {
    width: 100%;
    bottom: -15%;
    right: 0;
  }
}

.secondScreen .secondScreenSlider #ChairPerspective .donut {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 150px;
}

@media only screen and (min-width: 768px) {
  .secondScreen .secondScreenSlider #ChairPerspective .donut {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 9%;
  }
}

.secondScreen .secondScreenSlider #ChairPerspective .donut #circleProcess {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  stroke-dasharray: 255%;
  stroke-dashoffset: 255%;
  stroke: #eb616d;
  fill: none;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.secondScreen .secondScreenSlider #ChairPerspective .donut .donut-copy {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

@media only screen and (min-width: 768px) {
  .secondScreen .secondScreenSlider #ChairPerspective .donut .donut-copy {
    font-size: 35px;
  }
}

.secondScreen .secondScreenSlider #ChairPerspective .chairInfoList {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  bottom: 27%;
  font-size: 1rem;
  left: -15%;
}

@media only screen and (min-width: 768px) {
  .secondScreen .secondScreenSlider #ChairPerspective .chairInfoList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: -30%;
    bottom: 29%;
  }
}

@media only screen and (min-width: 1200px) {
  .secondScreen .secondScreenSlider #ChairPerspective .chairInfoList {
    left: -42%;
    bottom: 30%;
    font-size: 1.2rem;
  }
}

.secondScreen .secondScreenSlider #ChairPerspective .chairInfoList li {
  text-align: left;
  padding: 5px;
}

.secondScreen .secondScreenSlider .secondTitle {
  width: 100%;
  padding: 20px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .secondScreen .secondScreenSlider .secondTitle {
    width: 50%;
  }
}

.secondScreen .secondScreenSlider .secondTitle h2 {
  position: relative;
  padding: 0 0 20px 0;
  color: #EF5C79;
  font-size: 2.5rem;
}

.thirdScreen {
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #ECDED9;
}

.thirdScreen .thirdScreenShop {
  padding: 25px 0;
  width: 95%;
  margin: auto;
  z-index: 6;
  position: relative;
  max-width: 1200px;
}

@media only screen and (min-width: 768px) {
  .thirdScreen .thirdScreenShop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.thirdScreen .thirdScreenShop .AjiShopSpring {
  position: relative;
}

@media only screen and (min-width: 768px) {
  .thirdScreen .thirdScreenShop .AjiShopSpring {
    width: 25%;
  }
}

.thirdScreen .thirdScreenShop .AjiShopSpring h2 {
  color: #EF5C79;
  position: absolute;
  left: 0;
}

.thirdScreen .thirdScreenShop .AjiShopSpring .shopEnergy {
  position: absolute;
  left: 0;
  top: 15%;
}

.thirdScreen .thirdScreenShop .AjiShopSpring .shopEnergy #energy {
  width: 40%;
}

.thirdScreen .thirdScreenShop .AjiShopSpring .shopEnergy p {
  display: none;
}

@media only screen and (min-width: 768px) {
  .thirdScreen .thirdScreenShop .AjiShopSpring .shopEnergy #energy {
    width: 100%;
  }
  .thirdScreen .thirdScreenShop .AjiShopSpring .shopEnergy p {
    display: block;
    color: #ef5c79;
    line-height: 1.6;
  }
}

.thirdScreen .thirdScreenShop .AjiShopSpring #ajiThree {
  position: absolute;
  width: 0%;
  right: -62%;
  bottom: 15%;
  z-index: 6;
}

@media only screen and (min-width: 768px) {
  .thirdScreen .thirdScreenShop .AjiShopSpring #ajiThree {
    width: 100%;
  }
}

.thirdScreen .thirdScreenShop .AjiShopSpring #springThree {
  position: absolute;
  width: 0%;
  right: -160%;
  bottom: 6%;
  z-index: 5;
}

@media only screen and (min-width: 768px) {
  .thirdScreen .thirdScreenShop .AjiShopSpring #springThree {
    width: 65%;
  }
}

.thirdScreen .thirdScreenShop .AjiShopSpring #springThreeRight {
  position: absolute;
  display: block;
  width: 0%;
  right: -201%;
  bottom: 7%;
  z-index: 6;
}

@media only screen and (min-width: 768px) {
  .thirdScreen .thirdScreenShop .AjiShopSpring #springThreeRight {
    width: 45%;
  }
}

.thirdScreen .thirdScreenShop .AjiShopSpring #springThreeLeft {
  display: block;
  position: absolute;
  width: 0%;
  right: -105%;
  bottom: 9%;
  z-index: 5;
}

@media only screen and (min-width: 768px) {
  .thirdScreen .thirdScreenShop .AjiShopSpring #springThreeLeft {
    width: 45%;
  }
}

.thirdScreen .thirdScreenShop .showShop {
  padding: 30px 0;
  width: 100%;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .thirdScreen .thirdScreenShop .showShop {
    width: 75%;
  }
}

.thirdScreen .thirdScreenShop .showShop .model {
  left: 44%;
  position: absolute;
  top: 2%;
  width: 18%;
}

@media only screen and (min-width: 768px) {
  .thirdScreen .thirdScreenShop .showShop .model {
    left: 54%;
    top: 0%;
  }
}

.thirdScreen .thirdScreenShop .showShop .model #indexModel {
  width: 100%;
}

.thirdScreen .thirdScreenShop .showShop .model #modelLight {
  -webkit-transition: .8s;
  transition: .8s;
}

@media only screen and (min-width: 768px) {
  .thirdScreen .thirdScreenShop .showShop .shopTitle {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.thirdScreen .thirdScreenShop .showShop #shop {
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
}

@media only screen and (min-width: 768px) {
  .thirdScreen .thirdScreenShop .showShop #shop {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
}

.thirdScreen .thirdScreenShop .showShop h2 {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@media only screen and (min-width: 768px) {
  .thirdScreen .thirdScreenShop .showShop h2 {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
}

.fourthScreen {
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #ECDED9;
  overflow: visible;
}

.fourthScreen .fourthScreenPhoto {
  padding: 25px 0;
  width: 95%;
  margin: auto;
  z-index: 6;
  position: relative;
  max-width: 1200px;
}

@media only screen and (min-width: 768px) {
  .fourthScreen .fourthScreenPhoto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 768px) {
  .fourthScreen .fourthScreenPhoto .photoTitle {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.fourthScreen .fourthScreenPhoto .camera {
  position: relative;
  padding: 20px 0 15% 0;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .fourthScreen .fourthScreenPhoto .camera {
    width: 70%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    padding: 20px 0 10.2% 0;
  }
}

.fourthScreen .fourthScreenPhoto .camera .photo {
  width: 90%;
}

.fourthScreen .fourthScreenPhoto .camera #indexPhotoPaper {
  width: 32%;
  right: 2%;
  bottom: 2%;
  -webkit-transition: 1.4s;
  transition: 1.4s;
  position: absolute;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

.fourthScreen .fourthScreenPhoto .camera #indexPhotoPaper .cls-1 {
  fill: url(#photoPaperGradientWhite);
}

.fourthScreen .fourthScreenPhoto .camera #indexPhotoPaper .cls-2 {
  fill: url(#photoPaperGradientRed);
}

.fourthScreen .fourthScreenPhoto .camera #PhotoInfo {
  position: absolute;
  width: 51%;
  display: block;
  bottom: 3%;
  right: -8%;
  opacity: 0;
  -webkit-transition: 1.6s;
  transition: 1.6s;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

.fourthScreen .fourthScreenPhoto #lineStory {
  position: absolute;
  left: 10%;
  top: 15%;
  width: 51%;
}

.fourthScreen .fourthScreenPhoto #lineStory .cls-1 {
  fill: none;
  stroke-miterlimit: 10;
  stroke: url(#loveGradient);
  stroke-width: 30px;
  stroke-dasharray: 2146.82861328125, 2146.82861328125;
  stroke-dashoffset: 2146.82861328125;
}

.fourthScreen .fourthScreenPhoto #flash {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 80%;
  top: 45%;
  z-index: 19;
}

@media only screen and (min-width: 768px) {
  .fourthScreen .fourthScreenPhoto #flash {
    top: 33.5%;
    left: 56%;
  }
}

.flashGo {
  -webkit-animation: flash 8s 0s infinite;
          animation: flash 8s 0s infinite;
}

@-webkit-keyframes flash {
  0% {
    background-color: #D5C7AC;
    border-color: #D5C7AC;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  2% {
    opacity: .8;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  5% {
    opacity: 1;
    background-color: white;
    border-color: white;
    -webkit-transform: scale(50);
            transform: scale(50);
  }
  13% {
    background-color: transparent;
    -webkit-transform: scale(100);
            transform: scale(100);
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  100% {
    background-color: transparent;
    -webkit-transform: scale(1);
            transform: scale(1);
    position: absolute;
  }
}

@keyframes flash {
  0% {
    background-color: #D5C7AC;
    border-color: #D5C7AC;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  2% {
    opacity: .8;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  5% {
    opacity: 1;
    background-color: white;
    border-color: white;
    -webkit-transform: scale(50);
            transform: scale(50);
  }
  13% {
    background-color: transparent;
    -webkit-transform: scale(100);
            transform: scale(100);
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  100% {
    background-color: transparent;
    -webkit-transform: scale(1);
            transform: scale(1);
    position: absolute;
  }
}

.fifthScreen {
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #ECDED9;
}

.fifthScreen .fifthScreenActivity {
  padding: 50px 0;
  width: 75%;
  margin: auto;
  max-width: 1200px;
  z-index: 6;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .fifthScreen .fifthScreenActivity {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 768px) {
  .fifthScreen .fifthScreenActivity .activityTitle {
    width: 50%;
  }
}

@media only screen and (min-width: 976px) {
  .fifthScreen .fifthScreenActivity .activityTitle {
    bottom: 0;
    position: absolute;
  }
}

.fifthScreen .fifthScreenActivity .signList {
  position: relative;
}

@media only screen and (min-width: 768px) {
  .fifthScreen .fifthScreenActivity .signList {
    width: 50%;
  }
}

@media only screen and (min-width: 976px) {
  .fifthScreen .fifthScreenActivity .signList {
    width: 100%;
    padding: 50px 0;
  }
}

@media only screen and (min-width: 976px) {
  .fifthScreen .fifthScreenActivity .signList li {
    max-width: 350px;
  }
}

.fifthScreen .fifthScreenActivity .signList li:nth-child(n+2) {
  display: none;
}

@media only screen and (min-width: 976px) {
  .fifthScreen .fifthScreenActivity .signList li:nth-child(n+2) {
    display: block;
    top: 0;
    position: absolute;
  }
}

@media only screen and (min-width: 976px) {
  .fifthScreen .fifthScreenActivity .signList li:nth-of-type(1) {
    margin-top: 20%;
  }
}

@media only screen and (min-width: 976px) {
  .fifthScreen .fifthScreenActivity .signList li:nth-of-type(2) {
    left: 29%;
    right: auto;
  }
}

@media only screen and (min-width: 976px) {
  .fifthScreen .fifthScreenActivity .signList li:nth-of-type(3) {
    top: 60px;
    right: 2%;
  }
}

.fifthScreen .fifthScreenActivity .signList .signItem {
  position: relative;
}

@media only screen and (min-width: 976px) {
  .fifthScreen .fifthScreenActivity .signList .signItem {
    width: 30%;
  }
}

.fifthScreen .fifthScreenActivity .signList .signItem .activityphoto {
  top: -7px;
  position: absolute;
  left: 2%;
  position: absolute;
  width: 92%;
}

.fifthScreen .fifthScreenActivity .signList .signItem .notphoto {
  top: 3%;
  left: -1%;
  position: absolute;
  width: 95%;
}

.fifthScreen .fifthScreenActivity #indexActivityCart {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 0%;
  margin: auto;
  -webkit-animation: bounce 0.5s infinite;
          animation: bounce 0.5s infinite;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

@media only screen and (min-width: 768px) {
  .fifthScreen .fifthScreenActivity #indexActivityCart {
    width: 40%;
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  25% {
    -webkit-transform: translate(0px, -0.25px);
            transform: translate(0px, -0.25px);
  }
  75% {
    -webkit-transform: translate(-0.4px, 0.25px);
            transform: translate(-0.4px, 0.25px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  25% {
    -webkit-transform: translate(0px, -0.25px);
            transform: translate(0px, -0.25px);
  }
  75% {
    -webkit-transform: translate(-0.4px, 0.25px);
            transform: translate(-0.4px, 0.25px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

#lineLove {
  stroke: url(#lineGradient);
  fill: none;
  stroke-width: 22px;
  stroke-dasharray: 0, 3463.16650390625;
  -webkit-animation: go 10s ease-in-out forwards;
}

@-webkit-keyframes go {
  100% {
    stroke-dasharray: 3463.16650390625, 3463.16650390625;
  }
}

.lightBoxXX {
  background-color: #a2988f;
  -webkit-box-shadow: 2px 3px #444440;
          box-shadow: 2px 3px #444440;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 1.5%;
  right: 2%;
  cursor: pointer;
  z-index: 111;
}

.lightBoxXX:after {
  width: 20px;
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  content: '';
  display: block;
  border-radius: 5px;
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.lightBoxXX::before {
  width: 20px;
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  content: '';
  display: block;
  border-radius: 5px;
  background-color: white;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.indexCreateRoleBox {
  border-radius: 15px;
  background-color: #F4FADD;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  width: 90%;
  z-index: 106;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  max-width: 400px;
  max-height: 500px;
  height: 80%;
}

@media only screen and (min-width: 768px) {
  .indexCreateRoleBox {
    padding: 20px;
    width: 80%;
    max-width: 800px;
    height: 65%;
  }
}

.indexCreateRoleBox h2 {
  display: block;
  color: #EF5C79;
  font-weight: 600;
  line-height: 1.6;
  font-size: 32px;
  text-align: center;
}

.indexCreateRoleBox .createRoleScreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media only screen and (min-width: 768px) {
  .indexCreateRoleBox .createRoleScreen {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.indexCreateRoleBox .createRoleScreen .showMyRole {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #CD9E9A), color-stop(30%, #FBC5CF));
  background-image: linear-gradient(0deg, #CD9E9A 30%, #FBC5CF 30%);
  padding-bottom: 70%;
  width: 100%;
  height: 0;
}

.indexCreateRoleBox .createRoleScreen .showMyRole .myRole {
  width: 50%;
  margin-top: -15px;
}

@media only screen and (min-width: 768px) {
  .indexCreateRoleBox .createRoleScreen .showMyRole .myRole {
    width: 70%;
  }
}

@media only screen and (min-width: 768px) {
  .indexCreateRoleBox .createRoleScreen .showMyRole {
    width: 45%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-bottom: 45%;
    height: 0;
  }
}

.indexCreateRoleBox .createRoleScreen .createNavList {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80%;
}

@media only screen and (min-width: 768px) {
  .indexCreateRoleBox .createRoleScreen .createNavList {
    width: 50%;
  }
}

.indexCreateRoleBox .createRoleScreen .createNavList #createKindList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.indexCreateRoleBox .createRoleScreen .createNavList #createKindList li {
  cursor: pointer;
  padding: 15px;
  -webkit-transition: .8s;
  transition: .8s;
}

.indexCreateRoleBox .createRoleScreen .createNavList #createKindList li:nth-of-type(1) {
  background-color: #f05c79;
}

.indexCreateRoleBox .createRoleScreen .createNavList .createKindAll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 400px) and (max-width: 830px) {
  .indexCreateRoleBox .createRoleScreen .createNavList .createKindAll {
    overflow-y: scroll;
  }
}

.indexCreateRoleBox .createRoleScreen .createNavList .createKindAll #animalKindList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .indexCreateRoleBox .createRoleScreen .createNavList .createKindAll #animalKindList {
    height: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.indexCreateRoleBox .createRoleScreen .createNavList .createKindAll #animalKindList li {
  width: 25%;
  height: 100%;
  cursor: pointer;
  background-size: 80%;
  background-position: center center;
  background-repeat: no-repeat;
}

.indexCreateRoleBox .createRoleScreen .createNavList .createKindAll #animalKindList li:nth-of-type(1) {
  background-image: url("../images/indexImages/indexBearIcon.svg");
}

.indexCreateRoleBox .createRoleScreen .createNavList .createKindAll #animalKindList li:nth-of-type(2) {
  background-image: url("../images/indexImages/indexRabbitIcon.svg");
}

.indexCreateRoleBox .createRoleScreen .createNavList .createKindAll #animalKindList li:nth-of-type(3) {
  background-image: url("../images/indexImages/indexCatIcon.svg");
}

.indexCreateRoleBox .createRoleScreen .createNavList .createKindAll #animalKindList li:nth-of-type(4) {
  background-image: url("../images/indexImages/indexDogIcon.svg");
}

@media only screen and (min-width: 768px) {
  .indexCreateRoleBox .createRoleScreen .createNavList .createKindAll #animalKindList li {
    width: 42%;
    height: 50%;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    margin: 5px;
  }
}

.indexCreateRoleBox .createRoleScreen .createNavList .createKindAll #eyesKindList {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (min-width: 768px) {
  .indexCreateRoleBox .createRoleScreen .createNavList .createKindAll #eyesKindList {
    height: 100%;
  }
}

.indexCreateRoleBox .createRoleScreen .createNavList .createKindAll #eyesKindList li {
  width: 26%;
  cursor: pointer;
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 0;
  padding-bottom: 23%;
  background-size: 200%;
  background-position: center center;
  background-repeat: no-repeat;
}

.indexCreateRoleBox .createRoleScreen .createNavList .createKindAll #eyesKindList li:nth-of-type(1) {
  background-image: url("../images/roleImages/eyes1.svg");
}

.indexCreateRoleBox .createRoleScreen .createNavList .createKindAll #eyesKindList li:nth-of-type(2) {
  background-image: url("../images/roleImages/eyes2.svg");
}

.indexCreateRoleBox .createRoleScreen .createNavList .createKindAll #eyesKindList li:nth-of-type(3) {
  background-image: url("../images/roleImages/eyes3.svg");
}

.indexCreateRoleBox .createRoleScreen .createNavList .createKindAll #eyesKindList li:nth-of-type(4) {
  background-image: url("../images/roleImages/eyes4.svg");
}

.indexCreateRoleBox .createRoleScreen .createNavList .createKindAll #eyesKindList li:nth-of-type(5) {
  background-image: url("../images/roleImages/eyes5.svg");
}

.indexCreateRoleBox .createRoleScreen .createNavList .createKindAll #eyesKindList li:nth-of-type(6) {
  background-image: url("../images/roleImages/eyes6.svg");
}

@media only screen and (min-width: 768px) {
  .indexCreateRoleBox .createRoleScreen .createNavList .createKindAll #eyesKindList li {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 60px;
    width: 42%;
  }
}

.indexCreateRoleBox .createRoleScreen .createNavList .createKindAll #colorKindList {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.indexCreateRoleBox .createRoleScreen .createNavList .createKindAll #colorKindList input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  width: 30px;
  height: 30px;
  background: #F05C79;
  border-radius: 50%;
  -webkit-transition: .2s;
  transition: .2s;
}

.indexCreateRoleBox .createRoleScreen .createNavList .createKindAll #colorKindList li {
  width: 50%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.indexCreateRoleBox .createRoleScreen .createNavList .createKindAll #colorKindList li input {
  width: 100%;
  height: 55%;
}

.indexCreateRoleBox #rRang {
  background: -webkit-gradient(linear, left top, right top, from(black), to(red));
  background: linear-gradient(to right, black, red);
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border-radius: 2rem;
}

.indexCreateRoleBox #gRang {
  background: -webkit-gradient(linear, left top, right top, from(black), to(green));
  background: linear-gradient(to right, black, green);
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border-radius: 2rem;
}

.indexCreateRoleBox #bRang {
  background: -webkit-gradient(linear, left top, right top, from(black), to(blue));
  background: linear-gradient(to right, black, blue);
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border-radius: 2rem;
}

.indexCreateRoleBox #saveRoleBtn {
  padding: 7px;
  border-radius: 12px;
  color: rgba(255, 255, 255, 0.5);
  font-size: .7rem;
  background-color: #f05c79;
  -webkit-box-shadow: 0px 4px 0px rgba(255, 255, 255, 0.5);
          box-shadow: 0px 4px 0px rgba(255, 255, 255, 0.5);
  text-align: center;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  position: absolute;
  right: 1%;
  top: 59%;
  outline: none;
  border: none;
}

@media only screen and (min-width: 768px) {
  .indexCreateRoleBox #saveRoleBtn {
    right: 3%;
    top: 72%;
  }
}

#createMemberScreen {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  z-index: 106;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  max-height: 500px;
  min-height: 80%;
  background-color: #F4FADD;
  position: fixed;
  padding: 20px;
  max-width: 500px;
}

@media only screen and (min-width: 768px) {
  #createMemberScreen {
    max-height: 650px;
  }
}

#createMemberScreen h2 {
  text-align: center;
  font-size: 26px;
  padding: 10px;
}

#createMemberScreen .createMemberBox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 85%;
}

@media only screen and (min-width: 768px) {
  #createMemberScreen .createMemberBox {
    height: 75%;
  }
}

#createMemberScreen .createMemberBox .createLeftForm {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#createMemberScreen .createMemberBox .createLeftForm li {
  height: 10%;
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#createMemberScreen .createMemberBox .createLeftForm li:nth-of-type(5) {
  height: 30%;
}

#createMemberScreen .createMemberBox .createLeftForm li:nth-of-type(6) {
  height: 25%;
}

#createMemberScreen .createMemberBox .createRightForm {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

#createMemberScreen .createMemberBox .createRightForm li {
  height: 10%;
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#createMemberScreen .createMemberBox .createRightForm li:nth-of-type(4) select {
  height: 80%;
  min-height: 30px;
}

#createMemberScreen .createMemberBox .createRightForm li:nth-of-type(5) {
  height: 30%;
}

#createMemberScreen .createMemberBox .createRightForm li:nth-of-type(5) label {
  width: 50%;
}

#createMemberScreen .createMemberBox .createRightForm li:nth-of-type(6) {
  height: 25%;
}

#createMemberScreen .createMemberBox .createRightForm li:nth-of-type(6) textarea {
  height: 100%;
  width: 100%;
}

#createMemberScreen .createMemberBox .createRightForm li input {
  padding: 0 10px;
  border: none;
  border-radius: 12px;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

#createMemberScreen #createMemberBtn {
  position: absolute;
  width: 80%;
  bottom: 18px;
  height: 7%;
  left: 0;
  right: 0;
  margin: auto;
}
/*# sourceMappingURL=index.css.map */