@charset "UTF-8";
.wrap {
  padding-top: 200px;
  margin: auto;
  width: 100%;
  padding-bottom: 100px;
  overflow-y: hidden;
  background-image: url("../images/matchBg.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.wrap .searchMaji {
  text-align: center;
  position: relative;
  top: -80px;
}

.wrap .searchMaji input {
  height: 30px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  vertical-align: middle;
}

.wrap .searchMaji .search {
  line-height: 0;
  background-color: #FBC5CF;
  width: 50px;
  color: #F05B79;
  border: none;
  cursor: pointer;
}

.wrap .searchMaji .searchTxt {
  height: 32px;
  padding: 0 10px;
  width: 500px;
}

.matchContent {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.matchContent .carousel {
  min-width: 960px;
  position: relative;
  -webkit-perspective: 800px;
          perspective: 800px;
  margin: auto;
  text-align: center;
  margin-bottom: -200px;
}

.matchContent .carousel .matchHorse {
  position: relative;
}

.matchContent .carousel .matchHorse .matchItem {
  width: 200px;
  position: absolute;
  top: 50%;
  left: 10%;
}

.matchContent .carousel .matchHorse .mi01 {
  -webkit-animation: horse 8s infinite alternate;
          animation: horse 8s infinite alternate;
}

.matchContent .carousel .matchHorse .mi02 {
  left: 20%;
  z-index: 1;
  -webkit-animation: horse 11s infinite alternate;
          animation: horse 11s infinite alternate;
}

.matchContent .carousel .matchHorse .mi03 {
  left: 60%;
  z-index: 1;
  -webkit-animation: horse 10s infinite alternate;
          animation: horse 10s infinite alternate;
}

.matchContent .carousel .matchHorse .mi04 {
  left: 70%;
  -webkit-animation: horse 12s infinite alternate;
          animation: horse 12s infinite alternate;
}

.matchContent .carousel h1 {
  position: absolute;
  font-size: 40px;
  left: -110px;
  top: 190px;
  z-index: 1;
  color: #EB616D;
  text-shadow: 2px 2px #333;
}

.matchContent .carousel .matchMem {
  width: 300px;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 150px;
          transform-origin: 150px;
  -webkit-transition: 1s;
  transition: 1s;
  top: -410px;
  left: 320px;
  z-index: 2;
}

.matchContent .carousel .matchMem img {
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.matchContent .carousel .matchMem #matchMaji {
  position: relative;
  width: 250px;
}

.matchContent .carousel .matchMem .matchEyes {
  position: relative;
  width: 80px;
  top: -160px;
}

.matchContent .carousel .matchMem .back {
  z-index: 10;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.matchContent .carousel .board {
  position: absolute;
  width: 40%;
  left: -200px;
  top: 50px;
}

.matchContent .carousel img {
  width: 80%;
  position: relative;
  top: -13%;
}

.matchContent .profileInfo {
  color: #F05B79;
  position: absolute;
  top: 20%;
  right: -210px;
  width: 230px;
  background-color: #EEF2EF;
  border: 10px solid #FBC5CF;
  border-radius: 30px;
  line-height: 2;
  text-align: center;
  padding: 20px;
}

.matchContent .profileInfo .matchMJ {
  font-size: 5vmin;
}

.matchContent .profileInfo .colorG {
  color: #333333;
}

.matchContent .profileInfo button {
  width: 100px;
  border-radius: 12px;
  background-color: #f05c79;
  -webkit-box-shadow: 0px 4px 0px #c84e6a;
          box-shadow: 0px 4px 0px #c84e6a;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  border: none;
  color: #e5e5e5;
  height: 35px;
}

.matchContent .profileInfo button:hover {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-box-shadow: 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px transparent;
}

.matchContent .selectBtn {
  position: absolute;
  top: 45%;
  left: -80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.matchContent .selectBtn select {
  border: 3px solid #FBC5CF;
  background: #EEF2EF;
  width: 100px;
  padding: 3px 10px;
  margin: 5px;
  font-size: 16px;
  line-height: 1;
  border-radius: 10px;
  height: 30px;
  color: #EB616D;
}

.matchContent .selectBtn input {
  margin: 5px;
  width: 100px;
  border-radius: 12px;
  background-color: #f05c79;
  -webkit-box-shadow: 0px 4px 0px #c84e6a;
          box-shadow: 0px 4px 0px #c84e6a;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  border: none;
  color: #e5e5e5;
  height: 35px;
}

.matchContent .selectBtn input:hover {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-box-shadow: 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px transparent;
}

.majiRank {
  width: 70%;
  background-color: #e9e5e5;
  -webkit-box-shadow: 2px 2px 5px #ccc;
          box-shadow: 2px 2px 5px #ccc;
  border-radius: 20px;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
}

.majiRank .rankTitle {
  position: relative;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: -120px;
  width: 100%;
  height: 150px;
  background-image: url(../images/rankTitle.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.majiRank .rankTitle h2 {
  position: relative;
  top: 100px;
  font-size: 45px;
  text-align: center;
  color: #ededed;
  text-shadow: 1px 1px #333;
}

.majiRank .rankNav {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-top: -50px;
  padding-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.majiRank .rankNav li a {
  position: relative;
  display: block;
  width: 100px;
  height: 40px;
  background-color: #EEF2EF;
  color: #F05B79;
  margin: 10px;
  border-radius: 10px;
  line-height: 2;
}

.majiRank .rankNav li a::before {
  content: '- 好友最多';
  width: 80px;
  height: 30px;
  position: absolute;
  top: -35px;
  left: 10px;
  border-radius: 10px;
  color: #F05B79;
  text-shadow: none;
  font-size: 15px;
}

.majiRank .rankNav li .moneyBtn::before {
  content: '- 金幣最多';
}

.majiRank .rankNav li .mjTopBtn::before {
  content: '- MJ值最高';
}

.majiRank .rankNav .active a {
  background-color: #F3B9B4;
  color: #EEF2EF;
  text-shadow: #EB616D 1px 1px 1px;
}

.majiRank .tabPanel.active {
  display: block;
}

.majiRank .tabPanel {
  display: none;
}

.majiRank .rankContent {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
}

.majiRank .rankContent .rankBtn {
  height: 30px;
  margin: 5px;
  line-height: 0;
  width: 100px;
  border-radius: 12px;
  background-color: #f05c79;
  -webkit-box-shadow: 0px 4px 0px #c84e6a;
          box-shadow: 0px 4px 0px #c84e6a;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  border: none;
  color: #e5e5e5;
  height: 35px;
}

.majiRank .rankContent .rankBtn:hover {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-box-shadow: 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px transparent;
}

.majiRank .rankContent .rankItem {
  width: 30%;
  text-align: center;
  background-color: #fff;
  margin: 10px;
  padding-top: 50px;
  border-radius: 20px;
}

.majiRank .rankContent .rankItem img {
  width: 50%;
  position: relative;
}

.majiRank .rankContent .rankItem .rankProfile {
  position: relative;
  top: -40px;
  background-image: url(../images/rank1stage.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.majiRank .rankContent .rankItem .rankProfile .rankTxt {
  padding: 70px 55px 30px 0px;
  font-size: 18px;
  line-height: 1.8;
  color: #746a59;
}

.majiRank .rankContent .rankItem .rankProfile .rankTxt h3 {
  font-size: 30px;
}

.majiRank .rankContent .rankItem .rank1pro {
  top: -30px;
}

.majiRank .rankContent .rankItem .rankRole {
  z-index: 1;
}

.majiRank .rankContent .rank1 img {
  width: 70%;
}

@-webkit-keyframes horse {
  0% {
    top: 50%;
  }
  25% {
    top: 55%;
  }
  75% {
    top: 45%;
  }
  100% {
    top: 50%;
  }
}

@keyframes horse {
  0% {
    top: 50%;
  }
  25% {
    top: 55%;
  }
  75% {
    top: 45%;
  }
  100% {
    top: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .wrap .searchMaji {
    top: -100px;
    width: 100%;
  }
  .wrap .searchMaji input {
    height: 50px;
  }
  .wrap .searchMaji .search {
    width: 20%;
  }
  .wrap .searchMaji .searchTxt {
    height: 50px;
    width: 70%;
  }
  .wrap .matchContent .profileInfo {
    top: -70px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 500px;
    font-size: 20px;
  }
  .wrap .matchContent .selectBtn {
    left: 32%;
    top: -8%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  .wrap .matchContent .selectBtn select {
    height: 45px;
  }
}
/*# sourceMappingURL=match2.css.map */