*{
    padding: 0;
    margin: 0;
    font-family: "微軟正黑體";
    outline: 1px solid red;
}
a{
    text-decoration: none;
    color: rgba(102,102,102,1);
}

.clear{
    clear: both;
}
body{
    background-repeat: repeat;
    color: rgba(102,102,102,1);

}
/* 第一屏背景 */
/* #ead3cc */
.bg{
    background:  rgba(98,167,236, .8) no-repeat scroll 100%;
    background-size: 100% 90%;

}
.wrap1{
    width: 100%;
    /* max-width: 1200px; */
    margin: auto;
    height: 100vh;
    overflow: hidden;

}
.wrap1 .clouds1{
    width: 100%;
    position: relative;

}
.wrap1 .clouds2{
    width: 100%;
    position: relative;
}
.wrap1 .clouds1 img{
    width: 60%;
    position: absolute;
    left: -10%;
    top: 10vh;
    animation: cloudsMoving 50s infinite linear;
}
.wrap1 .clouds2 img{
    width: 80%;
    position: absolute;
    left: -40%;
    top: 65vh;
    animation: cloudsMoving2 50s infinite linear forwards;
}
@keyframes cloudsMoving2{
    0%{left: -40%;}
    100%{left: 80%;}
}
@keyframes cloudsMoving {
    0%{left: -50%;}
    100%{left: 100%;}
}

  .trophy{
        display: flex;
        align-items: center;
        width: 300px;
        padding-top: 15vh;
        padding-left: 12%;
        /* padding-bottom: 2%; */

  }
  .trophy div{
      width: 30%;
      /* transform: rotate(350deg);
      transition: 3s ; */
      animation: rotate 3s alternate infinite;

  }
  .trophy h2{
      font-size: 1rem;
      width: 70%;
      z-index: 3;
      text-align: center;
      text-shadow: 1px 2px#aaa;
  }
  .trophy img{
    width: 100%;
    vertical-align: top;

  
  }
  @keyframes rotate{
    0%{transform:rotate(-10deg);}
    /* 50%{transform:rotate(720deg);} */
    100%{transform:rotate( -95deg);}
  }

/* 燈箱 */
#LBbg,#cardLBbg{
    background-color: rgba(0%,0%,0%,0.5);
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
    z-index: 2;
}
  #LB,#cardLB{
    width: 400px;
    height: 550px;
    margin: auto;
    color: rgb(253, 196, 196);
    /* border: 10px solid #fcc6d0; */
    background-color: #E5E2DD;
    border-radius: 12px;
    opacity: 1;
    /* box-shadow: 5px 1px 5px #eee; */
    position: fixed;
    z-index: 999;
    left: 35%;
    top: 20%;
}
/* #LB .winnerPhoto img{
    width:80%;
    padding: 2%;
    margin: auto;
    border-radius: 10px;
    vertical-align:middle;

} */
#LB .topPhoto ,#cardLB .cardPhoto{
    width: 94%;
    padding: 3%;
}
#LB .member ,#cardLB .member{
    width: 15%;
    margin-left: 8%;
}
#LB .heart, .heart ,#cardLB .heart{
    width: 12%;
    margin-top: 1%;
    display: unset;
    position: unset;
  }
#LB a , #cardLB a{
    margin-left: 20px;
    margin-right: 40px;
    font-size: .8rem;
    cursor: pointer;
    color: rgba(102,102,102,1);
  }
#LB a:hover, #cardLB a:hover {
    color:rgba(240,92,121,1);  
  }
#cardLB span{
    margin-left: 20px;
    font-size: 0.8rem;
}

#LB p, #cardLB p{
    margin-left: 10%;
    margin-top: 5%;
}
#close {
    background-color: rgba(162,152,143,1);
    box-shadow: 0px 5px rgba(68,68,64,1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 3vh;
    right: 2vw;
    cursor:pointer;
    z-index: 15;
}

#del{
    width: 3vh;
    position: absolute;
    right: 3%;
    top: 70%;
    cursor: pointer;
    font-size: 1.3rem;
    color:rgba(240,92,121,1);
}
/* #LB #left{
    position: absolute;
    left: 3%;
    top: 40%;
    color:rgba(240,92,121,1);
    cursor: pointer;
}
#LB #right{
    position: absolute;
    right: 3%;
    top: 40%;
    color:rgba(240,92,121,1);
    cursor: pointer;
} */




.col3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
  .top1, .top2 ,.top3 {
    cursor: pointer;
    margin: 3%;
    width: 240px;
    height: 290px;
    color: rgba(102,102,102,1);
    /* background-color: #fff; */
    border-radius: 6px;
    /* float: left; */
    position: relative;
}
  .top span,.tops span{
    font-size: .8rem;
    margin-left: 10px;


  }
  .top1 img,.top2 img,.top3 img{
    width:94%;
    padding: 3%;
    margin: 0 auto;
    vertical-align:middle;
    border-radius: 10px;

  }
  .top1,.top2,.tpp3{
      position: relative;
  }
  .top1 .topbg,.top2 .topbg,.top3 .topbg{
      width: 300px;
      position: absolute;
      left: -10%;
      top: 64%;
      z-index: -1;
  }
  .top .member,.card .member{
    width: 18%;
    margin-left: 4%;
    display: inline-block;
  }
  .headBox{
      top: 10px;
  }
  .top .topheart,.card .heart{
    width: 12%;
    margin-top: 1%;
  }
  .top a,.card a{
    margin-left: 5px;
    margin-right: 20px;

    font-size: .8rem;
    width: 40px;
    display: inline-block;
    color: rgba(102,102,102,1);
  }
  .top:hover,.card:hover{
    /* box-shadow: 5px 10px 5px #aaa; */
    transform: translateY(5px);
    transition: .5s;

  }
  .top a:hover,.card a:hover{
    color:rgba(240,92,121,1);  
  }
  /* .content{
    margin-left: 20%;
  } */
  .content .aji{
      width: 20%;
      position: absolute;
      top: 18%;
      left: 20%;
      display: none;
  }
  .content .ajiY{
      width: 20%;
      position: absolute;
      left: 20%;
      top: 18%;
      display: none;
  }
  .content .aji:hover{
      display: none;
  }
  
/* 製作合照tab */
    #drawingTab{
        position: fixed;
        top: 35%;
        right: 3%;
        width: 110px;
        height: 50%;
        cursor: pointer;
        z-index: 10;
        animation: camera 3s infinite;
    }

    @keyframes  camera{
        0% {top: 35%;}
        100%{top: 36%;}
    }
    #drawingTab h1{
        width: 100px;
        padding: 1vh;
        font-size: .9rem;
        line-height: 1.3;
        color: #f05c79;
    }
    #drawingTab img{
        width: 150%;
    }

/* 第二屏照片區 */

  /* 背景 */
  .bg2{
    background:rgba(98,167,236, .8)  url("../images/bg2photo1-23.png") no-repeat scroll 50% 5%;
    background-size: 100%;
} 
.postArea{
    width: 100%;
    /* padding-top: 10%; */
    /* padding-bottom: 20%; */
    position: relative;
    margin: auto;
    max-width: 1200px;
}
    .father{
        position: relative;
    }
    #myPhoto{
        width: 100%;
        position: absolute;
        text-align: right;
        right: 15%;
        margin-top: 40vh;
        animation: upndown 3s infinite;
    }
    @keyframes  upndown{
        0% {top: -50px;}
        50% {top: -40px;}
        100%{top: -50px;}
    }
    #myPhoto a{
        display: inline-block;
    }
    #myPhoto a h3{
        width: 100px;
        padding-top: 1vh;
        text-align: center;
        display: block;
        color: #f05c79;
        
    }
    #myPhoto a img{
        width: 100px;
        display: block;
       

    }
   #myPhoto:hover a{
        transform: translateY(10px);
        transition: .5s;
    }
    .postArea h1{
        /* display: inline-block; */
        /* width: 300px; */
        font-size: 1.4rem;
        text-align: center;
        color: #f05c79;
        margin-top: 10%;
        /* margin-left: 39%; */
        margin-bottom: 5%;
    }

    /* 標題旗子～ */
    .topic{
        width: 300px;
        margin: auto;
        padding-top: 10vh;
        padding-bottom: 30vh;
        position: relative;
        /* position: absolute;
        left: 30%;
        top: 10%; */
    }
    .topic h1{
        position: absolute;
        font-size: 1.5rem;
        left: 8vh;
        top: 10vh;
        transform: rotate(-5deg);
    }

    .card{  
        float: left;
        cursor: pointer;
        margin: 6%;
        width: 240px;
        height: 300px;
        color: rgba(102,102,102,1);
        background-color: #fff;
        position: relative;
        font-size: .8rem;
        border-radius: 8px;
    }
    .card .bigHeart{
        display: none;
        opacity: 0.9;
    }
    .card .bigHeart{
        width: 100%;
        position: absolute;
        left: 0;top: 10px;
    }
    .card .voteHeart{
        display: none;
        width: 200px;
        position: absolute;
        left: 9%;
        top: 9%;
    }
    .card img, #cardLB .cardPhoto img{
        width:94%;
        margin-bottom: 3%;
        padding: 3%;
        vertical-align:middle;
        border-radius: 10px;

      }

    #trash{
        position: absolute;
        right: -40%;
        top: 2%;
        cursor: pointer;
        font-size: 1.3rem;
        color:rgba(240,92,121,1);
        /* display: none;  */
    }
    #trash img{
        width: 15%;
    }

    .card .heart{
        opacity: .6;
    }
    .card .heart:hover{
        opacity: 1;
        cursor: pointer;
    }





/* 合照功能滑出～ */

.mkPhoto{
    position: fixed;
    width: 100%;
    height: 100%;
    /* max-width: 1200px; */
    right: 0;
    top: 0;
    z-index: 10;
    margin: auto;
    display: none;
    padding-top: 40px;
    padding-bottom: 200px;
    background: #b2b2b2;
    opacity: 1;
    text-align: center;
}
.slideL{    animation: slideL 1s ; 
}
@keyframes slideL{
    0%{ right: -100%;}
    100%{right:0%;}
}

/* 朋友燈箱 */

    /* 燈箱背景 */
    #friend_LightBox {
        width: 25%;
        position: absolute;
        top: 35%;
        left: 5%;
        z-index: 3;
    }
    .bg_friendBox img{
        width: 100%;
        vertical-align: middle;
    }
    /* 關燈箱按鈕 */
    #friend_LightBox #btn_friendBoxClose {
        width: 10%;
        position: absolute;
        top: 7%;
        right: 13%;
        cursor: pointer;
    }
    #btn_friendBoxClose img{ 
        width: 100%;
    }

    /* div_content  input_search*/


    #friend_LightBox #content_friendBox {
        width: 55%;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        text-align: left;
    }

    #friend_LightBox #content_friendBox input{
        /* position: absolute; */
        width: 95%;
        height: 16px;
        top: 0%;
        left: 25%;
        /* margin-left: 40px; */
        /* margin-bottom: 18px; */
        background-color: #f05c79;
        border-radius: 5px;
        border: 2px solid #c84e6a;
        color: white;
        font-family: "微軟正黑體";
        padding: 3px;
    }
    #friend_LightBox #content_friendBox #chooseBox {
        overflow: auto;
    }

    #friend_LightBox #content_friendBox #chooseBox {
        height: 180px;
    }
    #friend_LightBox #content_friendBox #chooseBox label {
        width: 80%;
        display: block;
        /* margin-top: 25px; */
        margin-bottom: 6px;
        background-color: #eee;
        padding: 5px;
        border-radius: 5px;
        font-family: "微軟正黑體";
        cursor: pointer;
    }
   #friend_LightBox #content_friendBox #chooseBox label img {
        width: 20%;
        margin-right: 4px;
   }
   #friend_LightBox #content_friendBox #chooseBox label p {
    display: inline;
   }

   #chooseId #showModel {
       width: 152px;
       height: 160px;
       position: absolute;
       z-index: 1;
       left: 105px;
       top: 110px;
   }
   #chooseId #showModel #model_hat{
    position: absolute;
    left: 0;
    top: -10px;
   }
    .steps{
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .step{
        margin: 2%;
        width: 200px;
    }
    #step1{
        display: block;
        filter: grayscale(0%);
    }
    #step1 img{
        width: 100px;
        margin: 5%;
        box-shadow: 5px 10px 5px #aaa;
    }
    #step2{
        display: block;
        filter: grayscale(100%);
    }
    #step2 img{
        width: 100px;
        margin: 5%;
    }





    /* 記得打開！！！！！！！！！ */
    #step3{
        display: block;
        /* filter: grayscale(100%); */
    }
    #step3 img{
        width: 100px;
        margin: 5%;
    }
    .bulletin{
        position: absolute;
        right: 6%;
        top: 43%;
        width: 260px;
        padding: 2% 0;
        border-radius: 20px;
        box-shadow: 5px 10px 10px #aaa;
        background:linear-gradient(-45deg,rgba(240,92,121,1),rgba(125,164,203,1));

    }
    .bulletin img{
        width: 15%;
        height: 15%;
    }
    #exit{
        position: absolute;
        z-index: 999;
        width: 70px;
        right: 8%;
        top: 20%;
    }
    .drawing{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 3%;
        /* position: absolute;
        left: 20%;
        top: 30%; */
    }
    .controlBar{
        width: 40px;
        height: 300px;
        position: absolute;
        left: 27vw;
        top: 40vh;
        display: flex;
        flex-direction: column;
        /* display: none; */

    }
    .color{
        width: 40px;
        height: 40px;
        margin: 10%;
        border-radius: 50%;
        border: 2px solid #aaa;
        cursor: pointer;
    }
    #red{ background-color:crimson;}
    #coral{background-color: coral;}
    #yellow{background-color: gold;}
    #blue{background-color:rgb(68, 176, 219);}
    #green{background-color: seagreen;}
    #black{background-color: black;}
    .preCanvas{
        position: relative;
    }
    #canvas{
        cursor: cell;
        position: absolute;
        left: 0;top: 0;
        z-index: 1;
        /* border: 5px solid rgba(240,92,121,.7); */
        /* display: none;        */
    }
    .preview{
        width: 350px;
        height: 350px;
        border: 5px solid rgba(240,92,121,.7);
        background-color: #ffffff;
    }
    .preview img{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;        
        /* border: 5px solid rgba(240,92,121,.7); */
        left: 0;
    }
    .upload img{
        display: none;
        margin-left: 23%;
        margin-bottom: 10%;
    }

    /* btn 按鈕：上傳 選擇朋友 */
    .mkPhoto .drawing .upload #upBtn{
        display: block;
        margin-top: 10%;
        margin-left: 20%;
    }
    #chooseBtn{
        display: none;
        margin-top: 10%;
        margin-left: 20%;
    }
    /* btn :下一步  */
    .next span{
        display: block;
        margin-top: 0%;
        margin-left: 20%;
        margin-right: 10%;
    }
    /* btn 上一步  */
    .back span{
        display: none;
        cursor: pointer;
        width: 80px;
        padding: 10px 20px;
        /* margin-top: 150%; */
        margin-bottom: 20px;
        margin-left: 20%;
        margin-right: 10%;
        background: #aaa;
        box-shadow: 0 1vh #797979;
        text-align: center;
        line-height: 1.6;
        color: #fff;
        z-index: 30;
        border-radius: 30px;
    }

/* 提示燈箱 */
    #shareHint{
        position: absolute;
        top: 45%;
        left: 37%;
        width: 30vw;
        height: 20vh;
        z-index: 30;
        border-radius: 12px;
        background-color: #E5E2DD;
      }
      /* btn 關閉提示燈箱按鈕 */
      #sureClose{
        position: absolute;
        top: 40%;
        left: 25%;
        width: 80px;
        height: 30px;
        cursor:pointer;
        text-align: center;
        line-height: 1.6;
        font-size: 14px;
        color: #fff;
        z-index: 30;
        background-color: #E15974;
        box-shadow: 0 1vh #C64D6A;
        border-radius: 30px;
      }

/* btn style :上傳 選擇朋友 下一步 分享照片  */
    .upload span,#friendBox span,.next span,#sharePhoto{
        cursor: pointer;
        width: 80px;
        padding: 10px 20px;
        text-align: center;
        line-height: 1.6;
        color: #fff;
        z-index: 30;
        background-color: #E15974;
        box-shadow: 0 1vh #C64D6A;
        border-radius: 30px;
        margin-bottom: 20px;
    }
    input[type=button]{
        margin-left: 20%;
        cursor: pointer;
        width: 80px;
        padding: 10px 20px;
        text-align: center;
        line-height: 1.6;
        color: #fff;
        z-index: 30;
        background-color: #E15974;
        box-shadow: 0 1vh #C64D6A;
        border-radius: 30px;
        margin-bottom: 20px;
    }
    #sharePhoto{
        width: 130px;
        margin-left: 20%
    }
    .mkPhoto a:hover,input:hover{
        background-color: rgba(200,78,106,1);
    } 

/* ipad RWD */
@media screen and (max-width: 768px){
    .wrap1{
        width: 100%;
        height: 140vh;
    }
    .wrap1 .trophy{  
        width: 40%;}
    .wrap1 .trophy h2{
        font-size: 1rem;
    }
    .wrap1 .clouds2{   
        display: none;}
    .wrap1 .clouds1{  
        position: fixed; 
        width: 150%;}
    .wrap1 .clouds1 img{    
        width: 100%;}
    .col3{
        display: flex;
        flex-direction: column;
    }
    .col3 .top{
        width: 35%;
        margin-bottom: 10vh;
    }
    .top .topbg{
        width: 300px;
        position: absolute;
        left: -6%;
        top: 75%;
        z-index: 1;
    }
    .card{
        margin-left: 11%;
    }
    .card img{
        width: 100%;
    }

    .top img{
        width: 100%;
        margin-left: 8px;    
    }
    .top .member,.card .member{
        width: 22%;
        margin-left: 4%;
        position: relative;
        z-index: 3;
    }
    .top .topheart,.card .heart{
        width: 20%;
        margin-top: 1%;
        z-index: 3;
        position: relative;
    }
    .top a,.card a{
        margin-right: 10%;
        font-size: .8rem;
        width: 40px;
        display: inline-block;
        color: rgba(102,102,102,1);
        z-index: 3;
        position: relative;
    }
    .top span,.card span{
        z-index: 3;
        position: relative;
    }
    /* 第二屏  */

    .bg2{
        background-position: 50% 100%;
        background-attachment: fixed;
        background-size: 100%;
    }
    .postArea{
        padding-top: 20%;
    }
    #myPhoto{
        width: 70px;
        position: absolute;
    }
    #myPhoto img{
        width: 70px;
       
    }
    #myPhoto h3{
        font-size: 16px;
        position: absolute;
        right: 10%;
        top: 34%;
    }
    .mkPhoto{
        padding-top: 50px;
    }
    .bulletin{
        display: none;
    }
    .steps{
        display: flex;
        flex-direction: row;
    }
    #exit{
        position: absolute;
        top: 4vh;
        right: 2vw;

    }
    .drawing{
        display: block;
        position: relative;
        left: 27vw;
    }

    /* 登入會員 紙娃娃 */
    #chooseId #showModel{
        width: 19%;
        position: absolute;
        z-index: 1;
        left: 13%;
        top: 42%;
    }
    .controlBar{
        position: absolute;
        left: -7vw;
        top: 11vh;

    }
    /* #canvas{
        margin-top: 10vh; 
    } */
    .btns{
        display: flex;
        flex-direction: row;
    }
    .mkPhoto .drawing .upload #upBtn{
        width: 95px;
        padding: 10px 10px;
        margin-top: 30px;
        margin-left: 0;
        margin-right: 30px;
    }
    .mkPhoto .drawing .next span{
        width: 95px;
        padding: 10px 10px;
        margin-top: 30px;
        margin-left: 0;
        margin-right: 10px;
    }
    .preCanvas{
        width: 350px;
        height: 350px;
        margin-top: 7vh;
    }
    .back span{
        width: 95px;
        padding: 10px 10px;
        margin-top: 30px;
        margin-left: 0px;
        margin-right: 30px;
    }
    #friendBox span{
        width: 95px;
        padding: 10px 10px;
        margin-top: 30px;
        margin-left: 0px;
        margin-right: 30px;
    }
    #sharePhoto{
        width: 150px;
        padding: 10px 10px;
        margin-top: 30px;
        margin-left: 0px;
        margin-right: 30px;
    }
    /* 選擇朋友燈箱 */
    #friend_LightBox{
        width: 45%;
        position: absolute;
        top: 15%;
        left: 0%;
        z-index: 3;
    }
    /* 提示 已分享至照片牆 */
    #shareHint{
        position: absolute;
        top: 45%;
        left: 37%;
        width: 30vw;
        height: 20vh;

    }
    /* 燈箱 */
    #LB,#cardLB{
        position: fixed;
        top: 28%;
        left: 25%;
        /* width: 85vw; */
        /* height: 82vh; */
        z-index: 3;
        border-radius: 15px;
        border: 2px solid rgba(229,226,221,.5);
        background-color: #E5E2DD;
    }
    #LB .topPhoto ,#cardLB .cardPhoto{
        width:100%;
        padding: 3%;
    }
    #LB .heart, #cardLB .heart{
        width: 11%;
        margin-left: 25px;
    }
    #LB span,#cardLB span{
        margin-left: 20px;
    }
    #close{
        position: absolute;
        right: 2vw;
        top: 2vh;
    }

}

/* phone RWD */
@media screen and (max-width: 476px){
    .wrap1{
        width: 100%;
        height: 172vh;
        padding-top: 20px;
        padding-bottom: 50px;
        position: relative;
    }
    .wrap1 .clouds2{
        display: none;
    }
    .wrap1 .clouds1,.wrap1 .clouds2{
        width: 150%;
    }
    .wrap1 .clouds1 img, .wrap1 .clouds2 img{
        width: 100%;
        position: fixed;
    }
    .wrap1 .trophy{
        width: 55%;
        margin-left: 17%;
        margin-bottom: 20px;
    }
    .wrap1 .trophy h2{
        width: 150px;
        padding: 4px;
        margin-left: 5px;
        font-size: 1.2rem;
    }
    .col3 .top {
        width: 60%;
    }
    .col3 .top .topbg{
        width: 280px;
        position: absolute;
        left: -6%;
        top: 67%;
      
        display: block;
    }
    .card{
        margin-left: 19%;
    }
    .card img{
        width: 100%;
    }
    .top img{
        width: 100%;
        margin-left: 8px;    
    }
    .top .member,.card .member{
        width: 22%;
        margin-left: 4%;
    }
    .top .topheart,.card .heart{
        width: 20%;
        margin-top: 1%;
    }
    .top a,.card a{
        margin-right: 10%;
        font-size: .8rem;
        width: 40px;
        display: inline-block;
        color: rgba(102,102,102,1);
    }
    /* 壞掉不能調高度 */
    #drawingTab{
        width: 15%;
        position: fixed;
        top: -10%;right: 3px;
    }
    .topic{
        width:  180px;
    }
    .topic h1{
        font-size: 1rem;
        position: absolute;
        left: 7.5vh;
        top: 10.5vh;
    }
  

    /* 第二屏  */

    .bg2{
        background-position: 50% 100%;
        background-attachment: fixed;
    }
    .postArea{
        padding-top: 10%;
    }
    .topic{
        padding-bottom: 20vh;
    }
    .content .aji, .content .ajiY{
        display: none;
    }
    #myPhoto{
        width: 70px;
        position: absolute;
        left: 20vw;
        margin-top:30vh;
    }
    #myPhoto img{
        width: 70px;
    }
    #myPhoto h3{
        font-size: 14px;
        position: absolute;
        right: -16%;
        top: 91%;
    }
    .mkPhoto{
        padding-top: 10px;
    }
    .bulletin{
        display: none;
    }
    #exit{
        width: 45px;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .controlBar {
        position: absolute;
        left: 14vw;
        top: 10vh;
    }
    .preCanvas{
        width: 350px;
        height: 350px;
        margin: auto;
    }
    #canvas{
        margin-left: 0px;
    }
    .btns{
        display: flex;
        flex-direction: row;
    }
    .mkPhoto .drawing span{
        font-size: 14px;
        padding: 10px 10px;
    }
    .back span{
        width: 90px;
        position: unset;
        margin-top: 60px;
        margin-left: 10px;
    }
    #sharePhoto{
        width: 130px;
        margin-top: 60px;
        margin-left: 0px;
    }
    .mkPhoto .drawing .upload #upBtn,#chooseBtn,#friendBox span{
        width: 90px;
        padding: 10px 10px;
        margin-top: 60px;
        margin-left: 10px;
    }
    .btns a{
        margin-top: 20px;
    }
    .steps{
        width: 300px;
        height: 110px;
        margin: auto;
        display: flex;
        flex-direction: row;
    }
    .step{
        margin: 6%;
    }
    .drawing{
        position: relative;
        display: block;
        left: 0;
    }
    /* .controlBar{
        position: absolute;
        left: 0;top: 12px;
    } */
    #chooseId #showModel{
        width: 35%;
        position: absolute;
        left: 33vw;
        top: 25vh;
    }
    #friend_LightBox{
        width: 65%;
        position: absolute;
        top: 10vh;
        left: 15vw;
    }
    .controlBar .colorPack{
        width: 350px;
        height: 50px;
        position: absolute;
        top: 45vh;
        left: -1vw;

        display: flex;
        flex-direction: row;
    }
    .controlBar .colorPack .color{
        margin: 0%;
    }
    .controlBar .reset{
        width: 40px;
        margin: 0%;
        cursor: pointer;

    }
    .mkPhoto .drawing .upload span{
        width: 90px;
        margin-top: 60px;
        margin-left: 15px;
    }
    .mkPhoto .drawing .next span{
        width: 90px;
        margin-top: 60px;
        margin-left: 10px;
    }
    /* .preview{
        position: absolute;
        left: 7.7%;
        top: 22.3%;
    } */
    /* 提示燈箱：已分享合照至塗鴉牆  */
    #shareHint{
        width: 40vw;
        position: absolute;
        left: 30vw;
        top: 20vh;
    }
    #sureClose{
        position: absolute;
        top: 12vh;
    }
    /* 燈箱 */
    #LB,#cardLB{
        position: absolute;
        top: 25%;
        left: 13%;
        width: 75vw;
        height: 55vh;
        z-index: 3;
        border-radius: 15px;
        border: 2px solid rgba(229,226,221,.5);
        background-color: #E5E2DD;
      }
    #LB .topPhoto ,#cardLB .cardPhoto{
        width:100%;
        padding: 3%;
    }
    #LB a, #cardLB a{
        margin-right: 25px;
    }
    #LB .heart, #cardLB .heart{
        width: 11%;
        margin-left: 25px;
    }
    #LB span,#cardLB span{
        margin-left: 20px;
        color: rgba(102,102,102,1);
    }
    #LB p, #cardLB p{
        color: rgba(102,102,102,1);
    }
    #close{
        width: 25px;
        height: 25px;
        position: absolute;
        right: 2vw;
        top: 1vh;
    }
    #del{
        position: absolute;
        top: 40.5vh;

    }

}  



    /* #chooseId #friendBox #friend_LightBox img {
      width: 150%; }
    #chooseId #friendBox #friend_LightBox #btn_friendBoxClose {
      width: 11%;
      position: absolute;
      top: 7%;
      right: 13%;
      cursor: pointer; }
      #chooseId #friendBox #friend_LightBox #btn_friendBoxClose img {
        width: 50%; }
    #chooseId #friendBox #friend_LightBox #content_friendBox {
      width: 55%;
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translateX(-50%); }
      #chooseId #friendBox #friend_LightBox #content_friendBox input[type="text"] {
        width: 95%;
        margin-bottom: 8px;
        background-color: #f05c79;
        border-radius: 5px;
        border: 2px solid #c84e6a;
        color: white;
        font-family: "微軟正黑體";
        padding: 3px; }
      #chooseId #friendBox #friend_LightBox #content_friendBox #chooseBox {
        overflow: auto; }
        @media all and (min-width: 960px) {
          #chooseId #friendBox #friend_LightBox #content_friendBox #chooseBox {
            height: 180px; } }
        @media all and (max-width: 480px) {
          #chooseId #friendBox #friend_LightBox #content_friendBox #chooseBox {
            height: 140px; } }
        #chooseId #friendBox #friend_LightBox #content_friendBox #chooseBox label {
          width: 80%;
          display: block;
          margin-bottom: 6px;
          background-color: #eee;
          padding: 5px;
          border-radius: 5px;
          font-family: "微軟正黑體";
          cursor: pointer; }
          #chooseId #friendBox #friend_LightBox #content_friendBox #chooseBox label:hover {
            background-color: #ccc; }
          #chooseId #friendBox #friend_LightBox #content_friendBox #chooseBox label img {
            width: 20%;
            margin-right: 4px; }
          #chooseId #friendBox #friend_LightBox #content_friendBox #chooseBox label p {
            display: inline; }
          #chooseId #friendBox #friend_LightBox #content_friendBox #chooseBox label input[type="submit"] {
            display: none; } */