@charset "UTF-8";
img {
  vertical-align: middle;
}

@font-face {
  font-family: 'AdobeFanHeitiStd-Bold';
  src: url(../font/AdobeFanHeitiStd-Bold.otf) format("truetype");
}

::-webkit-scrollbar {
  /*定义滚动条高宽及背景高宽分别对应横竖滚动条的尺寸*/
  width: 10px;
  height: 0px;
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
  /*定义滚动条轨道内阴影+圆角*/
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  /*定义滑块内阴影+圆角*/
  border-radius: 13px;
  background-color: rgba(244, 200, 219, 0.7);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #f4c8db;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.7);
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.7);
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(255, 255, 255, 0.7);
}

:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.7);
}

#shop_background {
  width: 100%;
  background-image: url("../shop-images/shop_background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: auto;
}

#shop_background #proLightBox {
  z-index: 1;
  display: none;
}

#shop_background #proLightBox #btn_close {
  width: 15%;
  position: absolute;
  right: 0;
  cursor: pointer;
}

#shop_background #proLightBox #btn_close img {
  width: 100%;
}

@media all and (max-width: 768px) {
  #shop_background #proLightBox {
    width: 60%;
    position: fixed;
    top: 30%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #f4c8db;
    border: 3px solid #f05c79;
    border-radius: 12px;
    text-align: center;
    -webkit-box-shadow: 3px 3px 3px #aaa;
            box-shadow: 3px 3px 3px #aaa;
  }
  #shop_background #proLightBox h3 {
    font-size: 16px;
    color: #f05c79;
    font-weight: bolder;
    margin: 4px 0;
  }
  #shop_background #proLightBox .MJ {
    margin-bottom: 10px;
    font-size: 16px;
  }
  #shop_background #proLightBox .cost {
    width: 100%;
    margin: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #shop_background #proLightBox .cost img {
    width: 10%;
  }
  #shop_background #proLightBox .cost p {
    display: inline-block;
    padding: 6px;
    font-size: 25px;
    font-family: Impact;
  }
  #shop_background #proLightBox .lightBox_btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #shop_background #proLightBox .lightBox_btns .btn_addToCart, #shop_background #proLightBox .lightBox_btns .btn_wear {
    width: 80px;
    border-radius: 12px;
    background-color: #f05c79;
    -webkit-box-shadow: 0px 4px 0px #c84e6a;
            box-shadow: 0px 4px 0px #c84e6a;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    border: transparent;
    display: inline-block;
    padding: 5px;
    margin: 10px;
  }
  #shop_background #proLightBox .lightBox_btns .btn_addToCart:hover, #shop_background #proLightBox .lightBox_btns .btn_wear:hover {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
    -webkit-box-shadow: 0px 0px 0px transparent;
            box-shadow: 0px 0px 0px transparent;
  }
  #shop_background #proLightBox .lightBox_btns .btn_addToCart img, #shop_background #proLightBox .lightBox_btns .btn_wear img {
    width: 20%;
  }
}

#chooseId {
  margin: 0 auto;
  position: relative;
  margin: 80px auto;
}

@media all and (max-width: 768px) {
  #chooseId {
    margin: 130px auto;
  }
}

@media all and (max-width: 476px) {
  #chooseId {
    margin: 115px auto;
  }
}

#chooseId #chooseArea {
  position: relative;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 25%;
}

@media all and (max-width: 768px) {
  #chooseId #chooseArea {
    width: 85%;
  }
}

@media all and (max-width: 476px) {
  #chooseId #chooseArea {
    width: 85%;
  }
}

#chooseId #chooseArea #showName {
  width: 35%;
  text-align: center;
  padding: 8px;
  background-color: #f4c8db;
  border: 2px solid #f05c79;
  border-radius: 12px;
  display: none;
}

@media all and (max-width: 768px) {
  #chooseId #chooseArea #showName {
    display: block;
  }
}

@media all and (max-width: 476px) {
  #chooseId #chooseArea #showName {
    display: block;
  }
}

#chooseId #chooseArea .btn_chooseModel {
  width: 70px;
  height: 65px;
  text-align: center;
  border-radius: 12px;
  background-color: #f4c8db;
  -webkit-box-shadow: 0px 4px 0px #f05c79;
          box-shadow: 0px 4px 0px #f05c79;
  -webkit-transition: all .3s;
  transition: all .3s;
  display: none;
  cursor: pointer;
}

@media all and (max-width: 768px) {
  #chooseId #chooseArea .btn_chooseModel {
    display: block;
  }
}

@media all and (max-width: 476px) {
  #chooseId #chooseArea .btn_chooseModel {
    display: block;
  }
}

#chooseId #chooseArea .btn_chooseModel:hover {
  background-color: #f05c79;
  -webkit-box-shadow: 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px transparent;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

#chooseId #chooseArea .btn_chooseModel:hover p {
  color: white;
}

#chooseId #chooseArea .btn_chooseModel img {
  width: 60%;
  margin-top: 4px;
}

#chooseId #chooseArea .btn_chooseModel p {
  color: #f05c79;
  font-weight: bolder;
  font-size: 12px;
  margin: 2px 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#chooseId #friend_LightBox {
  display: none;
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  width: 30%;
  max-width: 330px;
}

@media all and (max-width: 768px) {
  #chooseId #friend_LightBox {
    width: 65%;
  }
}

@media all and (max-width: 476px) {
  #chooseId #friend_LightBox {
    width: 65%;
  }
}

#chooseId #friend_LightBox img {
  width: 100%;
}

#chooseId #friend_LightBox #btn_friendBoxClose {
  width: 11%;
  position: absolute;
  top: 7%;
  right: 13%;
  cursor: pointer;
}

#chooseId #friend_LightBox #btn_friendBoxClose img {
  width: 100%;
}

#chooseId #friend_LightBox #content_friendBox {
  width: 55%;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#chooseId #friend_LightBox #content_friendBox input[type="text"] {
  width: 95%;
  margin-bottom: 8px;
  background-color: #f05c79;
  border-radius: 5px;
  border: 2px solid #c84e6a;
  color: white;
  padding: 3px;
}

#chooseId #friend_LightBox #content_friendBox #chooseBox {
  overflow: auto;
  height: 180px;
}

@media all and (max-width: 768px) {
  #chooseId #friend_LightBox #content_friendBox #chooseBox {
    height: 140px;
  }
}

@media all and (max-width: 476px) {
  #chooseId #friend_LightBox #content_friendBox #chooseBox {
    height: 140px;
  }
}

#chooseId #friend_LightBox #content_friendBox #chooseBox a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6px;
  background-color: #eee;
  padding: 10px 5px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#chooseId #friend_LightBox #content_friendBox #chooseBox a:hover {
  background-color: #ccc;
}

#chooseId #friend_LightBox #content_friendBox #chooseBox a .gift_headBox {
  width: 25%;
  margin: 0 5px;
}

#chooseId #friend_LightBox #content_friendBox #chooseBox a p {
  display: inline-block;
  width: 80%;
  color: #555;
}

#chooseId #friend_LightBox #content_friendBox #chooseBox a input[type="submit"] {
  display: none;
}

#chooseId #showModel {
  position: relative;
  margin: 0 auto;
  width: 20%;
}

@media all and (max-width: 768px) {
  #chooseId #showModel {
    width: 70%;
  }
}

@media all and (max-width: 476px) {
  #chooseId #showModel {
    width: 70%;
  }
}

#chooseId #showModel img {
  width: 100%;
  position: absolute;
  top: 0;
}

#chooseId #rwd_showCoin {
  display: none;
}

@media all and (max-width: 768px) {
  #chooseId #rwd_showCoin {
    border-radius: 12px;
    background-color: #f4c8db;
    text-align: center;
    position: absolute;
    right: 3%;
    top: 11%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 6px;
  }
  #chooseId #rwd_showCoin img {
    width: 30%;
  }
  #chooseId #rwd_showCoin span {
    display: inline-block;
    font-size: 24px;
    font-family: Impact;
    color: #f05c79;
  }
}

@media all and (max-width: 476px) {
  #chooseId #rwd_showCoin {
    border-radius: 12px;
    background-color: #f4c8db;
    text-align: center;
    position: absolute;
    right: 3%;
    top: 11%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 6px;
  }
  #chooseId #rwd_showCoin img {
    width: 30%;
  }
  #chooseId #rwd_showCoin span {
    display: inline-block;
    font-size: 24px;
    font-family: Impact;
    color: #f05c79;
  }
}

#chooseId #rwd_showCart {
  display: none;
}

@media all and (max-width: 768px) {
  #chooseId #rwd_showCart {
    width: 23%;
    border-radius: 12px;
    background-color: #f4c8db;
    position: absolute;
    right: 3%;
    top: 0%;
    display: block;
  }
  #chooseId #rwd_showCart a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px;
  }
  #chooseId #rwd_showCart a img {
    width: 30%;
  }
  #chooseId #rwd_showCart a p {
    width: 50%;
    margin-left: 10%;
    font-size: 20px;
    font-weight: bolder;
    color: #f05c79;
  }
}

@media all and (max-width: 476px) {
  #chooseId #rwd_showCart {
    width: 23%;
    border-radius: 12px;
    background-color: #f4c8db;
    position: absolute;
    right: 3%;
    top: 0%;
    display: block;
  }
  #chooseId #rwd_showCart a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px;
  }
  #chooseId #rwd_showCart a img {
    width: 30%;
  }
  #chooseId #rwd_showCart a p {
    width: 50%;
    margin-left: 10%;
    font-size: 20px;
    font-weight: bolder;
    color: #f05c79;
  }
}

#productBlock {
  position: absolute;
  width: 100%;
  bottom: 50px;
}

@media all and (max-width: 768px) {
  #productBlock {
    bottom: 20px;
  }
}

@media all and (max-width: 476px) {
  #productBlock {
    bottom: 20px;
  }
}

#productBlock .tab-chooseCloth {
  float: left;
  padding: 5px 25px;
  background-color: #f4c8db;
  margin-right: 1%;
  border-radius: 5px 5px 0 0;
}

#productBlock .tab-chooseCloth:hover {
  cursor: pointer;
}

#productBlock .onclick {
  background-color: rgba(255, 255, 255, 0.8);
}

#productBlock .tab-chooseCloth:first-child {
  margin-left: 20%;
}

@media all and (max-width: 768px) {
  #productBlock .tab-chooseCloth:first-child {
    margin-left: 5%;
  }
}

@media all and (max-width: 476px) {
  #productBlock .tab-chooseCloth:first-child {
    margin-left: 5%;
  }
}

#productBlock #productsArea {
  width: 95%;
  margin: auto;
  padding: 0 20px;
  background-color: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 6px #ccc;
          box-shadow: 0px 4px 6px #ccc;
}

#productBlock #productsArea #actionPanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 22%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

@media all and (max-width: 768px) {
  #productBlock #productsArea #actionPanel {
    display: none;
  }
}

@media all and (max-width: 476px) {
  #productBlock #productsArea #actionPanel {
    display: none;
  }
}

#productBlock #productsArea #actionPanel .choose-friend {
  width: 31%;
  margin: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border-radius: 12px;
  background-color: #f4c8db;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 2px solid transparent;
  cursor: pointer;
}

#productBlock #productsArea #actionPanel .choose-friend:hover {
  border: 2px solid #f05c79;
}

#productBlock #productsArea #actionPanel .btn_chooseModel {
  width: 100%;
  text-align: center;
}

#productBlock #productsArea #actionPanel .btn_chooseModel img {
  width: 46%;
  margin: 4% 0%;
}

#productBlock #productsArea #actionPanel .btn_chooseModel span {
  color: #f05c79;
  font-weight: bolder;
  font-size: 16px;
  margin: 2% 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#productBlock #productsArea #actionPanel #rwd-showName {
  width: 55%;
  text-align: center;
  padding: 6% 0%;
  background-color: #f4c8db;
  border-radius: 12px;
}

@media all and (max-width: 768px) {
  #productBlock #productsArea #actionPanel #rwd-showName {
    display: none;
  }
}

@media all and (max-width: 476px) {
  #productBlock #productsArea #actionPanel #rwd-showName {
    display: none;
  }
}

#productBlock #productsArea #actionPanel #showCoin {
  width: 55%;
  text-align: center;
  padding: 3% 0%;
  background-color: #f4c8db;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#productBlock #productsArea #actionPanel #showCoin img {
  width: 20%;
  margin: 0;
}

#productBlock #productsArea #actionPanel #showCoin span {
  font-size: 24px;
  margin: 0 5%;
  font-family: Impact;
  color: #7d655b;
}

@media all and (max-width: 768px) {
  #productBlock #productsArea #actionPanel #showCoin {
    display: none;
  }
}

@media all and (max-width: 476px) {
  #productBlock #productsArea #actionPanel #showCoin {
    display: none;
  }
}

#productBlock #productsArea #actionPanel #showCart {
  width: 31%;
  margin: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border-radius: 12px;
  background-color: #f4c8db;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 2px solid transparent;
  cursor: pointer;
}

#productBlock #productsArea #actionPanel #showCart:hover {
  border: 2px solid #f05c79;
  color: white;
}

#productBlock #productsArea #actionPanel #showCart:hover img {
  src: url("shop-images/cart.png");
}

#productBlock #productsArea #actionPanel #showCart a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#productBlock #productsArea #actionPanel #showCart a img {
  width: 39%;
  margin: 4% 4%;
}

#productBlock #productsArea #actionPanel #showCart a p {
  color: #f05c79;
  font-weight: bolder;
  font-size: 16px;
  margin: 2% 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media all and (max-width: 768px) {
  #productBlock #productsArea #actionPanel #showCart {
    display: none;
  }
}

@media all and (max-width: 476px) {
  #productBlock #productsArea #actionPanel #showCart {
    display: none;
  }
}

#productBlock #productsArea #productsShow {
  width: 80%;
  padding-top: 15px;
  padding-bottom: 15px;
}

#productBlock #productsArea #productsShow .pro_form {
  width: 20%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media all and (max-width: 768px) {
  #productBlock #productsArea #productsShow .pro_form {
    width: 33%;
  }
}

@media all and (max-width: 476px) {
  #productBlock #productsArea #productsShow .pro_form {
    width: 33%;
  }
}

#productBlock #productsArea #productsShow .id_iframe {
  display: none;
}

@media all and (max-width: 768px) {
  #productBlock #productsArea #productsShow {
    width: 95%;
    padding-top: 10px;
  }
}

@media all and (max-width: 476px) {
  #productBlock #productsArea #productsShow {
    width: 95%;
    padding-top: 10px;
  }
}

#productBlock #productsArea #productsShow section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: inset 3px 0 10px #ccc, inset -3px 0 10px #ccc;
          box-shadow: inset 3px 0 10px #ccc, inset -3px 0 10px #ccc;
}

@media all and (max-width: 768px) {
  #productBlock #productsArea #productsShow section {
    overflow-X: auto;
  }
}

@media all and (max-width: 476px) {
  #productBlock #productsArea #productsShow section {
    overflow-X: auto;
  }
}

#productBlock #productsArea #productsShow section .id_iframe {
  display: none;
  width: 0;
}

#productBlock #productsArea #productsShow section .productItem {
  margin: 3%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#productBlock #productsArea #productsShow section .productItem .productImg {
  background-color: #f4c8db;
  border-radius: 12px;
  float: left;
  margin: 1%;
  position: relative;
  border: 2px solid transparent;
  cursor: pointer;
  width: 35%;
}

#productBlock #productsArea #productsShow section .productItem .productImg .rwd-proInfo {
  display: none;
  z-index: -10;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 2% 0;
  text-align: center;
}

#productBlock #productsArea #productsShow section .productItem .productImg .rwd-proInfo h3 {
  color: #f05c79;
  font-weight: bolder;
  margin: 4px 0;
}

#productBlock #productsArea #productsShow section .productItem .productImg .rwd-proInfo .MJ {
  margin-bottom: 4px;
  font-weight: bolder;
  text-align: center;
  padding: 3% 0;
  font-size: 14px;
}

#productBlock #productsArea #productsShow section .productItem .productImg .rwd-proInfo .cost {
  margin-bottom: 4px;
  width: 100%;
  margin: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

#productBlock #productsArea #productsShow section .productItem .productImg .rwd-proInfo .cost img {
  width: 20%;
  display: inline;
}

#productBlock #productsArea #productsShow section .productItem .productImg .rwd-proInfo .cost span {
  padding: 3% 4%;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
}

#productBlock #productsArea #productsShow section .productItem .productImg .rwd-proInfo .btn_buy {
  border: 0px transparent;
  padding: 0px 10px;
  color: white;
  border-radius: 2px;
  background-color: #f05c79;
}

@media all and (max-width: 768px) {
  #productBlock #productsArea #productsShow section .productItem .productImg {
    width: 80%;
  }
}

@media all and (max-width: 476px) {
  #productBlock #productsArea #productsShow section .productItem .productImg .rwd-proInfo {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 2% 0;
    text-align: center;
  }
  #productBlock #productsArea #productsShow section .productItem .productImg .rwd-proInfo h3 {
    color: #f05c79;
    font-weight: bolder;
    margin: 4px 0;
  }
  #productBlock #productsArea #productsShow section .productItem .productImg .rwd-proInfo .MJ {
    margin-bottom: 4px;
    font-weight: bolder;
    text-align: center;
    padding: 3% 0;
    font-size: 14px;
  }
  #productBlock #productsArea #productsShow section .productItem .productImg .rwd-proInfo .cost {
    margin-bottom: 4px;
    width: 100%;
    margin: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
  }
  #productBlock #productsArea #productsShow section .productItem .productImg .rwd-proInfo .cost img {
    width: 20%;
    display: inline;
  }
  #productBlock #productsArea #productsShow section .productItem .productImg .rwd-proInfo .cost span {
    padding: 3% 4%;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
  }
  #productBlock #productsArea #productsShow section .productItem .productImg .rwd-proInfo .btn_buy {
    width: 90%;
    border: 0px transparent;
    padding: 0 10px;
    color: white;
    border-radius: 5px;
    background-color: #f05c79;
  }
  #productBlock #productsArea #productsShow section .productItem .productImg .rwd-proInfo .btn_buy_having {
    width: 90%;
    border: 0px transparent;
    padding: 0 10px;
    color: white;
    border-radius: 5px;
    background-color: #7d655b;
  }
}

#productBlock #productsArea #productsShow section .productItem .productImg .click_wear {
  width: 100%;
}

#productBlock #productsArea #productsShow section .productItem .productInfo {
  width: 50%;
  margin: 0px 4px;
}

@media all and (max-width: 768px) {
  #productBlock #productsArea #productsShow section .productItem .productInfo {
    display: none;
  }
}

@media all and (max-width: 476px) {
  #productBlock #productsArea #productsShow section .productItem .productInfo {
    display: none;
  }
}

#productBlock #productsArea #productsShow section .productItem .productInfo h3 {
  color: #f05c79;
  font-weight: bolder;
  margin: 4px 0;
  font-size: 18px;
}

#productBlock #productsArea #productsShow section .productItem .productInfo .MJ, #productBlock #productsArea #productsShow section .productItem .productInfo .cost, #productBlock #productsArea #productsShow section .productItem .productInfo .btn_addToCart {
  margin-bottom: 4px;
  font-size: 14px;
  padding: 3% 0;
}

#productBlock #productsArea #productsShow section .productItem .productInfo .cost {
  width: 100%;
  margin: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#productBlock #productsArea #productsShow section .productItem .productInfo .cost img {
  width: 20%;
  display: inline;
}

#productBlock #productsArea #productsShow section .productItem .productInfo .cost span {
  display: inline-block;
  padding: 0px 5%;
  font-size: 18px;
  font-family: Impact;
}

#productBlock #productsArea #productsShow section .productItem .productInfo .btn_addToCart {
  width: 90%;
  border-radius: 12px;
  background-color: #f05c79;
  -webkit-box-shadow: 0px 4px 0px #c84e6a;
          box-shadow: 0px 4px 0px #c84e6a;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  border: transparent;
  padding: 3% 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  background-image: url("../shop-images/cart.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22%;
}

#productBlock #productsArea #productsShow section .productItem .productInfo .btn_addToCart:hover {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-box-shadow: 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px transparent;
}

#productBlock #productsArea #productsShow section .productItem .productInfo .btn_addToCart img {
  width: 20%;
  display: inline;
}

#productBlock #productsArea #productsShow section .productItem .productInfo .btn_addToCart:hover {
  background-color: #f05c79;
  -webkit-box-shadow: 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px transparent;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

#productBlock #productsArea #productsShow section .productItem .productInfo .having {
  width: 90%;
  border-radius: 12px;
  background-color: #7d655b;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
  border: transparent;
  padding: 3% 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #fff;
}

#productBlock #productsArea #productsShow section .productItem .productInfo .having img {
  width: 20%;
  display: inline;
}

#productBlock #productsArea #productsShow #pages {
  text-align: center;
}

#productBlock #productsArea #productsShow #pages .page_span {
  display: inline-block;
  margin: 2px 5px;
  padding: 3px 5px;
  border-radius: 5px;
  cursor: pointer;
}

@media all and (max-width: 768px) {
  #productBlock #productsArea #productsShow #pages {
    display: none;
  }
}

@media all and (max-width: 476px) {
  #productBlock #productsArea #productsShow #pages {
    display: none;
  }
}

#cart_background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  background-image: url("../shop-images/cart_background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: auto;
}

#cart_background .title {
  width: 97%;
  margin-left: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 8%;
}

#cart_background .title h2 {
  font-size: 28px;
  font-weight: bolder;
  color: #f05c79;
  margin-left: 20px;
}

#cart_background #cart-content {
  margin: 0 5%;
  width: 55%;
}

@media all and (max-width: 768px) {
  #cart_background #cart-content {
    width: 90%;
  }
}

@media all and (max-width: 476px) {
  #cart_background #cart-content {
    width: 90%;
  }
}

#cart_background #cart-content #tableTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
  background-color: #f4c8db;
  border-radius: 5px;
}

#cart_background #cart-content #tableTitle li {
  padding: 8px 3%;
  font-weight: bolder;
  width: 10%;
}

@media all and (max-width: 768px) {
  #cart_background #cart-content #tableTitle li {
    width: 18%;
  }
}

@media all and (max-width: 476px) {
  #cart_background #cart-content #tableTitle li {
    width: 18%;
  }
}

#cart_background #cart-content #tableTitle li:not(.flexGrow) {
  text-align: center;
}

#cart_background #cart-content #tableTitle .flexGrow {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#cart_background #cart-content #cartTable {
  width: 100%;
  margin: 10px 0;
}

#cart_background #cart-content #cartTable ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
}

#cart_background #cart-content #cartTable ul li {
  padding: 6px 3%;
  font-weight: bolder;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10%;
}

@media all and (max-width: 768px) {
  #cart_background #cart-content #cartTable ul li {
    width: 18%;
  }
}

@media all and (max-width: 476px) {
  #cart_background #cart-content #cartTable ul li {
    width: 18%;
  }
}

#cart_background #cart-content #cartTable ul li img {
  width: 35%;
  margin-right: 7%;
}

#cart_background #cart-content #cartTable ul li span {
  display: inline-block;
}

#cart_background #cart-content #cartTable ul li .btn_given {
  width: 100%;
  border-radius: 12px;
  background-color: #f05c79;
  -webkit-box-shadow: 0px 4px 0px #c84e6a;
          box-shadow: 0px 4px 0px #c84e6a;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  border: transparent;
  color: white;
  padding: 5% 0;
}

#cart_background #cart-content #cartTable ul li .btn_given:hover {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-box-shadow: 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px transparent;
}

#cart_background #cart-content #cartTable ul li .btn_delete {
  width: 100%;
  border-radius: 12px;
  background-color: #97837c;
  -webkit-box-shadow: 0px 4px 0px #7d655b;
          box-shadow: 0px 4px 0px #7d655b;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  border: transparent;
  color: white;
  padding: 5% 0;
}

#cart_background #cart-content #cartTable ul li .btn_delete:hover {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-box-shadow: 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px transparent;
}

#cart_background #cart-content #cartTable ul .li_img img {
  width: 65%;
}

@media all and (max-width: 768px) {
  #cart_background #cart-content #cartTable ul .li_img img {
    width: 50%;
  }
}

@media all and (max-width: 476px) {
  #cart_background #cart-content #cartTable ul .li_img img {
    width: 50%;
  }
}

#cart_background #cart-content #cartTable ul li:not(.flexGrow) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#cart_background #cart-content #cartTable ul .flexGrow {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#cart_background #cart-content a {
  display: inline-block;
  margin: 5px;
  position: relative;
}

#cart_background #cart-content hr {
  margin: 15px 0;
}

#cart_background #cart-content #totalCost {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cart_background #cart-content #totalCost span {
  margin-right: 50px;
}

#cart_background #cart-content #totalCost img {
  width: 25px;
}

#cart_background #cart-content #actionBtns {
  text-align: right;
  margin: 10px 0;
}

#cart_background #cart-content #actionBtns .btn-buy {
  text-decoration: none;
  color: white;
  font-size: 14px;
  margin: 5px;
  padding: 8px 0;
  width: 90px;
  border-radius: 12px;
  background-color: #f05c79;
  -webkit-box-shadow: 0px 4px 0px #c84e6a;
          box-shadow: 0px 4px 0px #c84e6a;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  border: transparent;
}

#cart_background #cart-content #actionBtns .btn-buy:hover {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-box-shadow: 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px transparent;
}

#cart_background #cart-content #actionBtns .notEnough {
  width: 90%;
  border: 0px transparent;
  padding: 10px 10px;
  color: white;
  border-radius: 5px;
  background-color: #7d655b;
}

#cart_background #giftBox {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid #f4c8db;
  -webkit-box-shadow: 8px 8px #f05c79;
          box-shadow: 8px 8px #f05c79;
  border-radius: 5px;
  width: 25%;
  margin-bottom: 5%;
  position: absolute;
  top: 20%;
  right: 10%;
}

@media all and (max-width: 768px) {
  #cart_background #giftBox {
    display: none;
    width: 90%;
    margin: 0 5%;
    padding-bottom: 5%;
    position: absolute;
    top: 18%;
    background-color: white;
  }
}

@media all and (max-width: 476px) {
  #cart_background #giftBox {
    display: none;
    width: 90%;
    margin: 0 5%;
    padding-bottom: 5%;
    position: absolute;
    top: 18%;
    background-color: white;
  }
}

#cart_background #giftBox #btn_giftBoxClose {
  display: none;
}

@media all and (max-width: 768px) {
  #cart_background #giftBox #btn_giftBoxClose {
    width: 10%;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  #cart_background #giftBox #btn_giftBoxClose img {
    width: 100%;
  }
}

@media all and (max-width: 476px) {
  #cart_background #giftBox #btn_giftBoxClose {
    width: 10%;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  #cart_background #giftBox #btn_giftBoxClose img {
    width: 100%;
  }
}

#cart_background #giftBox #friendBox {
  background-color: rgba(151, 131, 124, 0.5);
  padding: 4%;
  border-bottom: 3px solid #f05c79;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#cart_background #giftBox #friendBox #tipBox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cart_background #giftBox #friendBox #tipBox .gift-info {
  width: 2%;
  height: 0;
  padding: 10%;
  background-image: url("../shop-images/products_02.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
  border-radius: 50%;
  -webkit-box-shadow: 0 6px 0 #f05c79;
          box-shadow: 0 6px 0 #f05c79;
}

#cart_background #giftBox #friendBox #tipBox .giftToImg {
  width: 15%;
  padding: 2%;
}

#cart_background #giftBox #friendBox #tipBox .giftToImg img {
  width: 100%;
}

#cart_background #giftBox #friendBox #tipBox .gift-ta {
  text-align: center;
  width: 50%;
  border-radius: 50%;
}

#cart_background #giftBox #friendBox #tipBox .gift-ta .idImg {
  width: 30%;
  padding: 3%;
  margin: auto;
}

#cart_background #giftBox #friendBox #tipBox .gift-ta .idImg img {
  width: 100%;
}

#cart_background #giftBox #friendBox #searchBox {
  width: 90%;
  margin-bottom: 8px;
  background-color: #f05c79;
  border-radius: 5px;
  border: 2px solid #c84e6a;
  color: white;
  padding: 2%;
  margin: 2%;
}

#cart_background #giftBox #friendBox #chooseBox {
  overflow: auto;
  height: 160px;
}

@media all and (max-width: 768px) {
  #cart_background #giftBox #friendBox #chooseBox {
    height: 140px;
  }
}

@media all and (max-width: 476px) {
  #cart_background #giftBox #friendBox #chooseBox {
    height: 140px;
  }
}

#cart_background #giftBox #friendBox #chooseBox form {
  margin: 2%;
}

#cart_background #giftBox #friendBox #chooseBox label {
  width: 95%;
  display: block;
  margin-bottom: 2%;
  background-color: #eee;
  padding: 1% 2%;
  margin-left: 2px;
  border-radius: 5px;
  cursor: pointer;
}

#cart_background #giftBox #friendBox #chooseBox label:hover {
  background-color: #ccc;
}

#cart_background #giftBox #friendBox #chooseBox label img {
  width: 15%;
  margin-right: 4px;
}

#cart_background #giftBox #friendBox #chooseBox label p {
  display: inline;
}

#cart_background #giftBox #friendBox #chooseBox label input[type="submit"] {
  display: none;
}

#cart_background #giftBox #msgBox {
  padding: 3%;
}

#cart_background #giftBox #msgBox p {
  padding: 6px 3%;
}

#cart_background #giftBox #msgBox #giftMsg {
  width: 88%;
  padding: 5px;
  margin: 0 3% 3% 3%;
}

#cart_background #giftBox #msgBox #choose_ok {
  margin-left: 3%;
  width: 23%;
  border-radius: 12px;
  background-color: #f05c79;
  -webkit-box-shadow: 0px 4px 0px #c84e6a;
          box-shadow: 0px 4px 0px #c84e6a;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  border: transparent;
  color: white;
  padding: 1% 0;
}

#cart_background #giftBox #msgBox #choose_ok:hover {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-box-shadow: 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px transparent;
}

#cart_background #giftBox #msgBox #choose_delete {
  margin-left: 3%;
  width: 23%;
  border-radius: 12px;
  background-color: #97837c;
  -webkit-box-shadow: 0px 4px 0px #7d655b;
          box-shadow: 0px 4px 0px #7d655b;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  border: transparent;
  color: white;
  padding: 1% 0;
}

#cart_background #giftBox #msgBox #choose_delete:hover {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-box-shadow: 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px transparent;
}
/*# sourceMappingURL=shop-style.css.map */