* {
    padding: 0;
    margin: 0;
}

.bgWrap {
    background-image: url(../images/office.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
}

.teamMember {
    width: 800px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 10%;
}

.teamMember img {
    width: 100%;

}
.table{
    position: absolute;
    top:18%;
    z-index: 8;
}
#m1{
    width: 200px;
    position: absolute;
    bottom: 10%;
    left: -5%;
    z-index: 1;
}
#m2{
    width: 200px;
    position: absolute;
    bottom: 10%;
    left: 12%;
    z-index: 1;
}

#m3{
    width: 200px;
    position: absolute;
    bottom: 10%;
    left: 30%;
    z-index: 1;
}
#m4{
    width: 200px;
    position: absolute;
    bottom: 10%;
    left: 46%;
    z-index: 1;
}
#m5{
    width: 200px;
    position: absolute;
    bottom: 10%;
    left: 63%;
    z-index: 1;
}
#m6{
    width: 200px;
    position: absolute;
    bottom: 10%;
    left: 80%;
    z-index: 1;
}
.memInfo{
    width: 80%;
    height: auto;
    background-color: rgba(252, 222, 227,.9);
    position: absolute;
    top: -300px;
    right: 0;left: 0;
    margin: auto;
    z-index: 0;
    border-radius: 20px;
    text-align: center;
    line-height: 2;
    color: #555;
    display: flex;
    flex-flow: column;
    padding-bottom: 20px;
}

.memRole{
    transition: .5s;
    transform: translateY(0px);
}
.name{
    color: #f05c79;
}
.infoItem{
    display: flex;
    justify-content: center;
}
.infoLeft{
    width: 32%;
}
.infoRight{
    padding-top: 15px;
    display: flex;
    flex-flow: column;
    width: 32%;
}
.infoMiddle{
    width: 32%;
}

.infoRight a{
    margin-top: 10px;
    display: block;
    line-height: 2.5;
}
.email{
    color: #aaa;
    font-size: 14px;
}