$lightPink:rgba(244,200,219,1);
$darkPink:rgba(240,92,121,1);
$shadowPink:rgba(200,78,106,1);
$lightBrown:rgba(151,131,124,1);
$shadowBrown:rgba(125,101,91,1);


@mixin chatSpan {
    display: inline-block;
    border: 1px solid  $shadowPink;
    background-color: $lightPink;
    padding: 5px 10px;
    margin-bottom: 5px;
    font-size: 14px;    
}


.iSaid{
    text-align: right;
}

.iSaid span{
    @include chatSpan;
    margin-right: 3%;
    border-radius: 12px 5px 5px 12px;
}
.youSaid{
    text-align: left;
}

.youSaid span{
    @include chatSpan;
    margin-left: 3%;
    border-radius: 5px 12px 12px 5px;

}