@import 'var';
* {
    margin: 0;
    padding: 0;
}
@mixin btn_standard($width,$color,$shadow) {
    width: $width;
    border-radius: 12px;
    background-color: $color;
    box-shadow: 0px 4px 0px $shadow;
    text-align: center;
    cursor: pointer;
    transition: .3s;
    &:hover{
        transform: translateY(4px);
        box-shadow: 0px 0px 0px transparent;
    }
 }

@keyframes day-to-night {
    from {
        background: #3DC8E5;
    }

    25% {
        background: rgba(238, 178, 132, 0.5);
    }

    75% {
        background: #0C2233;
    }

    to {
        background: #3DC8E5;
    }
}

.section1 {
    position: relative;
    animation: day-to-night 30s linear infinite;
    animation-fill-mode: forwards;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    z-index: 1;
    overflow: hidden;
}

.section1 .cityWrap {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
}

.section1 .cityWrap .city {
    position: absolute;
    height: 800px;
    top: 250px;
    left: calc(50% - 1500px);
    margin: 0 auto;
    z-index: 3;
}

.section1 .cityWrap .day {
    animation: city 30s linear infinite;
}

.section1 .cityWrap .night {
    top: 249px;
    animation: cityN 30s linear infinite;
}

.section1 .cityWrap .heel {
    position: absolute;
    width: 300px;
    top: 220px;
    right: 28%;
    z-index: 2;
    animation: heel 80s linear infinite;
}

.section1 .cityWrap .clould {
    will-change: transform;
    width: 80px;
    position: absolute;
    top: 50px;
    left: -150px;
    animation: cloud 40s linear infinite;
    z-index: 2;
}

.section1 .cityWrap .clould2 {
    will-change: transform;
    width: 60px;
    position: absolute;
    top: 150px;
    left: -50px;
    animation: cloud 35s linear infinite;
}

.section1 .cityWrap .clould3 {
    will-change: transform;
    width: 150px;
    position: absolute;
    top: 80px;
    left: -60px;
    animation: cloud 60s linear infinite;
}

.section1 .cityWrap .clould4 {
    will-change: transform;
    width: 80px;
    position: absolute;
    top: 120px;
    left: -500px;
    animation: cloud 40s linear infinite;
}

.section1 .cityWrap .clould5 {
    will-change: transform;
    width: 60px;
    position: absolute;
    top: 30px;
    left: -480px;
    animation: cloud 35s linear infinite;
}

.section1 .cityWrap .clould6 {
    will-change: transform;
    width: 150px;
    position: absolute;
    top: 60px;
    left: -420px;
    animation: cloud 60s linear infinite;
}

.section1 .cityWrap .car {
    width: 100px;
}

.section1 .cityWrap .car1 {
    position: absolute;
    top: 600px;
    animation: car 40s linear infinite;
}

.section1 .cityWrap .car2 {
    position: absolute;
    top: 640px;
    animation: car2 30s linear infinite;
}

.section1 .cityWrap .car3 {
    position: absolute;
    top: 610px;
    animation: car 50s 3s linear infinite;
}

.section1 .cityWrap .littleChat {
    width: 80px;
    opacity: 0;
}

.section1 .cityWrap .lC1 {
    position: absolute;
    top: 300px;
    left: 150px;
    transform: rotate(-2deg);
    z-index: 4;
}

.section1 .cityWrap .lC2 {
    position: absolute;
    top: 350px;
    left: 230px;
    transform: rotate(3deg);
}

.section1 .cityWrap .lC3 {
    position: absolute;
    top: 280px;
    left: 400px;
    transform: rotate(5deg);
}

.section1 .cityWrap .lC4 {
    position: absolute;
    top: 350px;
    left: 500px;
    transform: rotate(-5deg);
    z-index: 4;
}

.section1 .cityWrap .lC5 {
    position: absolute;
    top: 380px;
    right: 250px;
    transform: rotate(5deg);
}

.section1 .cityWrap .lC6 {
    position: absolute;
    top: 330px;
    right: 100px;
    transform: rotate(-5deg);
    z-index: 4;
}

.wrap {
    width: 1200px;
    height: 500px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

    .bubble{
        width: 100%;
        position: absolute;
        right: 41%;
        z-index: 6;
        animation: 10s bubble infinite;

        }
    }
    .titleWrap {
        z-index: 5;
        position: absolute;
        top: 10%;
        right: 20%;

        .indexTitle {
            padding-top: 100px;
            font-size: 7vmin;
            color: #EEF2EF;
            animation: title 30s infinite;
        }
    }



.wrap .splight {
    will-change: transform;
    width: 180px;
    position: relative;
    left: -15px;
    animation: splight 30s linear infinite;
}

.wrap .light {
    width: 200px;
    position: absolute;
    bottom: 50px;
    left: 250px;
    z-index: 4;
}

.wrap .power {
    will-change: transform;
    position: absolute;
    bottom: 470px;
    left: 390px;
    width: 50px;
    height: 15px;
    z-index: 3;
    background-color: #eee;
    border-radius: 50%;
    transform: translateX(5px);
    animation: light 30s ease-in-out infinite alternate;
}

.wrap .aji {
    position: absolute;
    bottom: 50px;
    left: 250px;
    z-index: 5;
    width: 15%;
}

.wrap .rabbit {
    position: absolute;
    bottom: 50px;
    left: 450px;
    width: 15%;
    z-index: 5;
}

@keyframes title {
    0% {
        text-shadow: 0px 0px 2px #6d6d6d;
    }

    75% {
        color: #E6E7ED;
        text-shadow: 0px 0px 15px  #fa0;
    }

    100% {
        text-shadow: 0px 0px 2px #6d6d6d;
    }
}

@keyframes city {
    0% {
        filter: brightness(1);
    }

    25% {
        filter: brightness(0.8);
    }

    75% {
        filter: brightness(0.5);
    }

    100% {
        filter: brightness(1);
    }
}

@keyframes cityN {
    0% {
        opacity: 0;
    }

    25% {
        opacity: .9;
    }

    50% {
        opacity: .4;
    }

    75% {
        opacity: .9;
    }

    85% {
        opacity: .4;
    }

    95% {
        opacity: .8;
    }

    100% {
        opacity: 0;
    }
}

@keyframes cloud {
    0% {
        transform: translateX(0px);
        opacity: .7;
    }

    25% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.05;
    }

    100% {
        opacity: .7;
        transform: translateX(1500px);
    }
}

@keyframes heel {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes car {
    0% {
        right: -3%;
        bottom: 35px;
    }

    20%,
    40%,
    45%,
    60%,
    80% {
        bottom: 45px;
    }

    30%,
    90% {
        bottom: 48px;
    }

    100% {
        right: 103%;
        bottom: 35px;
    }
}

@keyframes car2 {
    0% {
        right: 100%;
        bottom: 10px;
    }

    20%,
    40%,
    45%,
    60%,
    80% {
        bottom: 15px;
    }

    30%,
    90% {
        bottom: 18px;
    }

    100% {
        right: -3%;
        bottom: 10px;
    }
}

@keyframes light {
    0% {
        background-color: #eee;
        box-shadow: 0 0 0 0 #fa0;
    }

    25% {
        background-color: #eee;
        box-shadow: 0px 0px 0px 0px #fa0;
    }

    50% {
        box-shadow: 0px 0px 10px 3px #fa0;
    }

    75% {
        background-color: #FFE299;
        box-shadow: 0px 0px 30px 8px #fa0;
    }

    100% {
        background-color: #eee;
        box-shadow: 0 0 0 0 #fa0;
    }
}

@keyframes splight {
    from {
        opacity: 0;
    }

    25% {
        opacity: 0.4;
    }

    75% {
        opacity: 0.9;
    }

    to {
        opacity: 0;
    }
}

.typing1,
.typing2 {
    z-index: 4;
    position: absolute;
    top: 70px;
    left: 400px;
    background-color: #DBD0BB;
    will-change: transform;
    width: 60px;
    height: 10px;
    border-radius: 15px;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 3px 3px 10px #aaa;
    animation: 3s bulge infinite ease-out;
}

.typing1::before,
.typing1::after,
.typing2::before,
.typing2::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: -2px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #DBD0BB;
}

.typing1::after,
.typing2::after {
    height: 10px;
    width: 10px;
    left: -10px;
    bottom: -10px;
}

.typing1 .textWrap .dotGrop .dot,
.typing2 .textWrap .dotGrop .dot {
    height: 15px;
    width: 15px;
    float: left;
    margin: 0 2px;
    background-color: #9E9EA1;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
    position: relative;
}

.typing1 .textWrap .chat1,
.typing2 .textWrap .chat1 {
    opacity: 0;
}

.typing1 .textWrap .chat2,
.typing2 .textWrap .chat2 {
    opacity: 0;
}

.typing1 .dot:nth-of-type(1),
.typing2 .dot:nth-of-type(1) {
    animation: 1.5s blink infinite 1.222s;
}

.typing1 .dot:nth-of-type(2),
.typing2 .dot:nth-of-type(2) {
    animation: 1.5s blink infinite 1.444s;
}

.typing1 .dot:nth-of-type(3),
.typing2 .dot:nth-of-type(3) {
    animation: 1.5s blink infinite 1.666s;
}

.typing2 {
    left: 550px;
    background-color: #E59DC2;
}

.typing2::before,
.typing2::after {
    background-color: #E59DC2;
}

.typing2 .textWrap .dotGrop .dot {
    background-color: #e8e8e8;
}

.typing2 .textWrap .chat1 {
    opacity: 0;
}

@keyframes blink {
    50% {
        opacity: 1;
        bottom: 3px;
    }
}

@keyframes bulge {
    50% {
        transform: scale(1.05);
    }
}

#indexSec {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: -25%;
    z-index: 10;

    h2 {
        font-size: 8vmin;
        position: absolute;
        top: 23%;
        left: 25%;
        z-index: 5;
        color: #736357;
    }

}

#indexSec .wrap {
    margin: auto;

    .exit {
        background-image: url(../images/exit.png);
        background-size: cover;
        background-position: center center;
        width: 5%;
        padding-bottom: 5%;
        background-color: #736357;
        position: absolute;
        top: 25%;
        right: 5%;
        border-radius: 50%;
        z-index: 101;
    }
}

#indexSec .wrap .home {
    width: 1200px;
    margin: auto;
    display: block;
    position: relative;
}

#indexSec .wrap .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5);
}

#indexSec .wrap .inner .roleRight {
    width: 30%;
    text-align: center;
    position: relative;
}

#indexSec .wrap .inner .roleRight #bodyWrap {
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 130%;
    background-image: url("../images/body3.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center center;
}

#indexSec .wrap .inner .roleRight #bodyWrap .eyeWrap {
    position: absolute;
    width: 33%;
    top: 40.5%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 10;
}

#indexSec .wrap .inner .roleRight #bodyWrap .eyeWrap #eyes {
    width: 100%;
}

#indexSec .wrap .inner .roleLeft {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#indexSec .wrap .inner .roleLeft .choice {
    display: flex;
    justify-content: space-around;
}

#indexSec .wrap .inner .roleLeft .choice .circleWrap {
    text-align: center;
    position: relative;
}

#indexSec .wrap .inner .roleLeft .circle {
    margin: 10px;
    width: 100%;
    position: relative;
    filter: brightness(0.5);
}

#indexSec .wrap .inner .roleLeft .roleContent {
    position: relative;
    width: 100%;
    padding-bottom: 30%;
    background-color: #EEF2EF;
    border-radius: 20px;
    box-shadow: -5px 5px #f05c79;
}

#indexSec .wrap .inner .roleLeft .roleContent .bodyChoice {
    position: absolute;
    top: -5%;
    display: flex;
    justify-content: space-around;
}

#indexSec .wrap .inner .roleLeft .roleContent .bodyChoice img {
    width: 15%;
}

#indexSec .wrap .inner .roleLeft .roleContent .eyesChoice {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#indexSec .wrap .inner .roleLeft .roleContent .eyesChoice img {
    width: 20%;
}

#indexSec .wrap .inner .roleLeft .joinBtn {
    @include btn_standard (100px,$darkPink,$shadowPink);
    margin-top: 10px;
    height: 38px;
    color: #fff;
}



.pointer {
    cursor: pointer;
}

.achive {
    filter: brightness(1) !important;
}

#hsl-h {
    position: absolute;
    background-image: linear-gradient(to right, #F00, #FF0, #0F0, #0FF, #00F, #F0F, #F00);
}

[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: currentColor;
    background-origin: content-box;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: block;
    height: 20px;
    padding: 0;
}

#indexMatch {
    background-image: url("../images/match.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100vh;
    position: relative;
    .indexProfile{
        width: 300px;
        position: absolute;
        top: 13%;
        left: 0;
        right: 0;
        margin: auto;
        .indexProTxt{
            position: absolute;
            top: 17%;
            left: 0;
            right: 0;
            margin: auto;
            display: block;
            font-size: 3vmin;
            text-align: center;
            }
            .mj{
                color: #F05C79;
        }
        .heart{
            color: #F05C79;
        }
    }
}

#indexMatch .matchObj {
    position: absolute;
    width: 300px;
    top: 40%;
    left: 0;
    right: 0;
    margin: auto;
    transition: 1s;
}

#indexMatch .middle {
    transform: scale(1);
    z-index: 3;

    &:hover {
        animation: middle 3s ease-in-out infinite alternate;
    }
}

@keyframes middle {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

#indexMatch .left {
    position: absolute;
    width: 300px;
    top: 40%;
    left: 0;
    right: 0;
    margin: auto;
    transition: 1s;
    transform: translate3d(-280px, -52px, -135px) scale(0.8);
    filter: brightness(0.5);
    z-index: 4;
}

#indexMatch .right {
    transition: 1s;
    transform: translate3d(280px, -52px, -135px) scale(0.8);
    filter: brightness(0.5);
    z-index: 5;
}

#indexShop {
    background-image: url("../images/shop.svg");
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100vh;
    position: relative;

    .star {
        position: relative;
        top: -40%;
        animation: star 2s infinite alternate;
    }

    @keyframes star {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 0.8;
        }

        90% {
            opacity: 0.9;
        }

        100% {
            opacity: 0;
        }

    }

    .nextBtn {
        width: 50px;
        top: 30%;
        position: absolute;
        left: calc(50% - 230px);
        z-index: 10;
    }

    .item {
        text-align: center;
        position: absolute;
        left: calc(50% - 100px);
        top: 20%;
        width: 200px;
        height: 200px;
        animation: 10s item infinite;
        background-image: url(../images/itemBg.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center center;

        img {
            width: 80%;
        }
    }

    .showItem {
        width: 300px;
        padding-bottom: 200px;
        background-image: url("../images/showItem.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        left: calc(50% + 150px);
        top: 12%;

        .itemContent {
            color: #736357;
            line-height: 2;
            display: flex;
            align-items: center;
            flex-flow: column;
            position: absolute;
            padding: 10px;
            top: 20px;
            left: 93px;

            button {
                padding: 5px;
                border: none;
                border-radius: 5px;
                z-index: 10;
            }
        }
    }

    .itemSpotLight {

        .ISL {
            width: 130px;
            position: absolute;
            transform-origin: bottom;
            transform: rotate(0deg);
            bottom: 0;
            transition: .1s;
        }

        .light1 {
            left: 0;
        }

        .light2 {
            left: 25%;
        }

        .light3 {
            left: 75%;
        }

        .light4 {
            right: 0;
        }
    }
}

@keyframes item {

    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        top: 18%
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        top: 21%
    }
}
@keyframes bubble {

    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        top: -17%;
        opacity: 1;
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        top: -12%;
        opacity: 0.9;
    }
}


@media screen and (max-width: 414px) {
    .wrap {
        width: 100%;
    }

    .wrap .titleWrap .indexTitle {
        font-size: 13vmin;
        animation: title 0s infinite;
    }

    .section1 {
        animation: none;
        background-color: #3DC8E5;
    }

    .wrap .titleWrap {
        top: -22%;

    }

    .wrap .aji {
        left: 10%;
        width: 38%;
    }

    .wrap .rabbit {
        left: 50%;
        width: 38%;
    }
    .wrap .light {
        width: 144px;
        left: 1%;
    }

    #indexMatch .middle {
        top: 42%;
    }

    .wrap .home {
        width: auto;
        height: 100vh;
        left: -120%;
    }

    #indexSec {
        width: 100%;
        height: 100vh;
        top: -33%;
    }

    #indexSec .wrap .inner .roleLeft {
        flex-flow: column;
    }

    #indexSec .wrap .inner .roleLeft .roleContent .bodyChoice {
        top: -19%;
    }

    #indexSec .wrap .inner .roleLeft .joinBtn {
        margin-top: 0px;
        order: -1;
    }

    #indexSec .wrap .inner .roleRight {
        width: 63%;
        order: -1;
    }

    #indexSec .wrap .inner .roleRight #bodyWrap {
        order: -4;
        margin-bottom: -20px;
    }

    #indexSec .wrap .exit {
        width: 17%;
        padding-bottom: 17%;
        top: 5%;
        right: 2%;
    }

    #indexSec h2 {
       display: none;
    }

    #indexSec .wrap .inner {
        flex-flow: column;
        top: 5%;
    }

    #indexSec .wrap .inner .roleLeft .circle {
        margin: 0px;
    }
    #indexMatch .indexProfile .indexProTxt {
    font-size: 6vmin;
    }

}

 